

*   특정 열의 경우 열의 이름이 달라 합쳐지지 않는 경우가 존재했음
*   따라서 각각의 열들을 확인해가며 진행

In [ ]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import os

from google.colab import drive

drive.mount("/content/drive")

pd.options.display.max_columns = 999

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# month slice

## 2022년 3월

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_03/S-DoT_NATURE_2022.03.07-03.13.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
rename_dot = b01.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
index_drop_dot = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
index_drop_dot

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200012,1,5,9,3.5,43.0,NaN,NaN,NaN,NaN,NaN,1.4,58.0,NaN,NaN,NaN,NaN,NaN,NaN,0.6,5,14,202203062300,2022-03-07 00:07:02
1,OC3CL200014,1,3,5,2.7,45.0,NaN,NaN,NaN,NaN,NaN,1.3,51.0,NaN,NaN,NaN,NaN,NaN,NaN,0.2,5,8,202203062300,2022-03-07 00:07:02
2,OC3CL200030,1,6,11,-0.2,49.0,NaN,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,19,202203062300,2022-03-07 00:07:02
3,OC3CL200035,1,2,4,1.3,51.0,NaN,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,7,202203062300,2022-03-07 00:07:03
4,OC3CL200048,1,5,8,3.3,41.0,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,10,202203062300,2022-03-07 00:07:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156606,V02Q1941006,1,1,2,13.1,87.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,202203132200,2022-03-13 23:07:58
156607,V02Q1940950,1,6,6,14.0,80.0,NaN,NaN,NaN,NaN,7.0,0.0,37.0,0.02,0.11,0.96,0.06,0.16,1.03,NaN,6,9,202203132200,2022-03-13 23:07:58
156608,V02Q1941013,1,12,12,13.9,85.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,15,202203132200,2022-03-13 23:07:58
156609,V02Q1940944,1,8,8,14.0,81.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.13,1.02,0.05,0.18,1.10,NaN,8,11,202203132200,2022-03-13 23:07:58
156610,V02Q1940954,1,22,23,14.7,78.0,NaN,NaN,NaN,NaN,15.0,0.0,56.0,0.06,0.08,1.03,0.11,0.14,1.10,NaN,21,25,202203132200,2022-03-13 23:07:58

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_03/S-DoT_NATURE_2022.03.14-03.20.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,모델명,시리얼,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,SDOT001,OC3CL200010,22,35,9.7,100.0,NaN,NaN,NaN,NaN,NaN,1.3,45.0,NaN,NaN,NaN,NaN,NaN,NaN,10.5,23,36,2.022030e+11,2022-03-14 0:07
1,SDOT001,OC3CL200011,22,33,21.6,85.0,NaN,NaN,NaN,NaN,NaN,1.3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,17.8,20,31,2.022030e+11,2022-03-14 0:07
2,SDOT001,OC3CL200013,5,9,11.1,100.0,NaN,NaN,NaN,NaN,NaN,1.4,45.0,NaN,NaN,NaN,NaN,NaN,NaN,11.8,5,9,2.022030e+11,2022-03-14 0:07
3,SDOT001,OC3CL200017,8,12,11.3,100.0,NaN,NaN,NaN,NaN,NaN,1.3,61.0,NaN,NaN,NaN,NaN,NaN,NaN,11.9,7,12,2.022030e+11,2022-03-14 0:07
4,SDOT001,OC3CL200027,17,26,10.6,88.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,23,2.022030e+11,2022-03-14 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171949,SDOT001,V02Q1940941,0,0,5.6,58.0,NaN,NaN,NaN,NaN,0.0,0.0,59.0,0.01,0.16,1.07,0.06,0.20,1.15,NaN,0,0,2.022030e+11,2022-03-20 23:07
171950,SDOT001,V02Q1940942,7,7,5.1,44.0,NaN,NaN,NaN,NaN,0.0,0.0,47.0,0.07,0.01,1.03,0.10,0.12,1.12,NaN,12,10,2.022030e+11,2022-03-20 23:07
171951,SDOT001,V02Q1940952,8,8,5.4,59.0,NaN,NaN,NaN,NaN,9.0,0.0,40.0,0.02,0.13,1.03,0.07,0.18,1.10,NaN,10,14,2.022030e+11,2022-03-20 23:07
171952,SDOT001,V02Q1941015,10,10,5.1,62.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,20,2.022030e+11,2022-03-20 23:07
171953,SDOT001,V02Q1940955,5,5,4.6,61.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.02,0.06,1.02,0.08,0.13,1.11,NaN,10,7,2.022030e+11,2022-03-20 23:07

In [ ]:
result_2203 = pd.concat([index_drop_dot, b02],ignore_index=True)
index_drop_dot.to_csv("2203")

## 2022년 1월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_01/S-DoT_NATURE_2022.01.03-01.09.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

                    기관 명  모델명  시리얼   구분  초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  기온(℃)  \
서울시 SDOT001  OC3CL200017    1    4    7        -3.0         52    NaN
    SDOT001  OC3CL200014    1    7   11        -2.4         42    NaN
    SDOT001  OC3CL200011    1    6    9        21.6         85    NaN
    SDOT001  OC3CL200029    1   13   19        -1.2         44    NaN
    SDOT001  OC3CL200027    1    7   11        -4.0         37    NaN
...                  ...  ...  ...  ...         ...        ...    ...
    SDOT001  V02Q1940955    1   66   66         2.4         60    NaN
    SDOT001  V02Q1940953    1   57   57         1.1         64    NaN
    SDOT001  V02Q1940952    1  101  101         3.6         57    NaN
    SDOT001  V02Q1941015    1   99   99         2.8         62    NaN
    SDOT001  V02Q1940954    1   68   69         3.6         54    NaN

             상대습도( %)  풍향(°)  풍속(m/s)  돌풍 풍향(°)  돌풍 풍속(m/s)  조도(lux)  \
서울시 SDOT001       NaN    NaN      NaN       NaN         0.0     62.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     54.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     51.0
    SDOT001       NaN    NaN      NaN       NaN         NaN     56.0
    SDOT001       NaN    NaN      NaN       NaN         NaN     63.0
...               ...    ...      ...       ...         ...      ...
    SDOT001       NaN    NaN      NaN       0.0         0.0     43.0
    SDOT001       NaN    NaN      NaN       3.0         0.0     45.0
    SDOT001       NaN    NaN      NaN      10.0         0.0     44.0
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN      17.0         0.0     56.0

             자외선(UVI)  소음(dB)  진동_x(g)  진동_y(g)  진동_z(g)  진동_x 최대(g)  \
서울시 SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
...               ...     ...      ...      ...      ...         ...
    SDOT001      0.03    0.06     1.02     0.08     0.12        1.11
    SDOT001      0.08    0.02     0.98     0.13     0.11        1.08
    SDOT001      0.02    0.11     1.04     0.08     0.16        1.12
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001      0.07    0.09     1.04     0.12     0.14        1.10

             진동_y 최대(g)  진동_z 최대(g)  흑구 운도(℃)  초미세먼지 보정(㎍/㎥)  \
서울시 SDOT001        -5.5           6        14   202201022300
    SDOT001        -5.4          10        16   202201022300
    SDOT001        14.2           9        13   202201022300
    SDOT001         NaN          14        22   202201022300
    SDOT001         NaN           9        17   202201022300
...                 ...         ...       ...            ...
    SDOT001         NaN          74        78   202201092200
    SDOT001         NaN          72        78   202201092200
    SDOT001         NaN          86       110   202201092200
    SDOT001         NaN          84        97   202201092200
    SDOT001         NaN          72        82   202201092200

                    미세먼지 보정(㎍/㎥)  전송시간  등록일자
서울시 SDOT001  2022-01-03 00:07:01   NaN   NaN
    SDOT001  2022-01-03 00:07:01   NaN   NaN
    SDOT001  2022-01-03 00:07:01   NaN   NaN
    SDOT001  2022-01-03 00:07:01   NaN   NaN
    SDOT001  2022-01-03 00:07:01   NaN   NaN
...                          ...   ...   ...
    SDOT001  2022-01-09 23:07:57   NaN   NaN
    SDOT001  2022-01-09 23:07:57   NaN   NaN
    SDOT001  2022-01-09 23:07:57   NaN   NaN
    SDOT001  2022-01-09 23:07:57   NaN   NaN
    SDOT001  2022-01-09 23:07:57   NaN   NaN

[168989 rows x 26 columns]

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_01/S-DoT_NATURE_2022.01.10-01.16.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

                    기관 명  모델명   시리얼     구분  초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  기온(℃)  \
서울시 SDOT001  OC3CL200013    1  56.0   81.0        -0.9         82    NaN
    SDOT001  OC3CL200018    1  69.0  100.0         0.1         80    NaN
    SDOT001  OC3CL200014    1  51.0   74.0         2.0         64    NaN
    SDOT001  OC3CL200019    1  50.0   73.0         0.4         70    NaN
    SDOT001  OC3CL200011    1  48.0   70.0        21.6         85    NaN
...                  ...  ...   ...    ...         ...        ...    ...
    SDOT001  V02Q1940952    1  10.0   10.0        -2.9         40    NaN
    SDOT001  V02Q1940951    1   5.0    5.0        -3.5         45    NaN
    SDOT001  V02Q1940955    1   4.0    4.0        -3.8         41    NaN
    SDOT001  V02Q1941015    1   9.0    9.0        -3.7         39    NaN
    SDOT001  V02Q1940953    1   4.0    4.0        -2.9         36    NaN

             상대습도( %)  풍향(°)  풍속(m/s)  돌풍 풍향(°)  돌풍 풍속(m/s)  조도(lux)  \
서울시 SDOT001       NaN    NaN      NaN       NaN         1.4     46.0
    SDOT001       NaN    NaN      NaN       NaN         1.4     48.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     54.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     61.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     50.0
...               ...    ...      ...       ...         ...      ...
    SDOT001       NaN    NaN      NaN      10.0         0.0     46.0
    SDOT001       NaN    NaN      NaN       0.0         0.0     47.0
    SDOT001       NaN    NaN      NaN       0.0         0.0     44.0
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       2.0         0.0     46.0

             자외선(UVI)  소음(dB)  진동_x(g)  진동_y(g)  진동_z(g)  진동_x 최대(g)  \
서울시 SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
...               ...     ...      ...      ...      ...         ...
    SDOT001      0.02    0.10     1.04     0.07     0.16        1.12
    SDOT001      0.02    0.02     0.98     0.07     0.15        1.08
    SDOT001      0.04    0.05     1.02     0.09     0.12        1.10
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001      0.08    0.02     0.98     0.13     0.13        1.07

             진동_y 최대(g)  진동_z 최대(g)  흑구 운도(℃)  초미세먼지 보정(㎍/㎥)  \
서울시 SDOT001        -1.6        63.0      85.0   202201092300
    SDOT001        -0.8        67.0     101.0   202201092300
    SDOT001         0.9        60.0      80.0   202201092300
    SDOT001        -1.1        59.0      82.0   202201092300
    SDOT001        15.0        64.0      85.0   202201092300
...                 ...         ...       ...            ...
    SDOT001         NaN         9.0      18.0   202201162200
    SDOT001         NaN         6.0       9.0   202201162200
    SDOT001         NaN         3.0       7.0   202201162200
    SDOT001         NaN         8.0      15.0   202201162200
    SDOT001         NaN         8.0       7.0   202201162200

                    미세먼지 보정(㎍/㎥)  전송시간  등록일자
서울시 SDOT001  2022-01-10 00:07:00   NaN   NaN
    SDOT001  2022-01-10 00:07:00   NaN   NaN
    SDOT001  2022-01-10 00:07:00   NaN   NaN
    SDOT001  2022-01-10 00:07:00   NaN   NaN
    SDOT001  2022-01-10 00:07:00   NaN   NaN
...                          ...   ...   ...
    SDOT001  2022-01-16 23:07:57   NaN   NaN
    SDOT001  2022-01-16 23:07:57   NaN   NaN
    SDOT001  2022-01-16 23:07:57   NaN   NaN
    SDOT001  2022-01-16 23:07:57   NaN   NaN
    SDOT001  2022-01-16 23:07:57   NaN   NaN

[170282 rows x 26 columns]

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_01/S-DoT_NATURE_2022.01.17-01.23.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

                    기관 명  모델명  시리얼  구분  초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  기온(℃)  \
서울시 SDOT001  OC3CL200012    1    5   8        -4.9         42    NaN
    SDOT001  OC3CL200017    1    2   3        -5.4         44    NaN
    SDOT001  OC3CL200019    1    4   7        -6.4         48    NaN
    SDOT001  OC3CL200020    1    2   3        -5.4         47    NaN
    SDOT001  OC3CL200013    1    4   6        -7.0         51    NaN
...                  ...  ...  ...  ..         ...        ...    ...
    SDOT001  V02Q1940955    1   44  45         3.5         51    NaN
    SDOT001  V02Q1941013    1   15  15         4.5         50    NaN
    SDOT001  V02Q1941006    1    9  13         3.0         56    NaN
    SDOT001  V02Q1941015    1   64  64         3.9         55    NaN
    SDOT001  V02Q1941000    1    7  12         4.2         52    NaN

             상대습도( %)  풍향(°)  풍속(m/s)  돌풍 풍향(°)  돌풍 풍속(m/s)  조도(lux)  \
서울시 SDOT001       NaN    NaN      NaN       NaN         1.4     58.0
    SDOT001       NaN    NaN      NaN       NaN         0.0     62.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     64.0
    SDOT001       NaN    NaN      NaN       NaN         NaN     67.0
    SDOT001       NaN    NaN      NaN       NaN         1.4     47.0
...               ...    ...      ...       ...         ...      ...
    SDOT001       NaN    NaN      NaN       0.0         0.0     43.0
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN

             자외선(UVI)  소음(dB)  진동_x(g)  진동_y(g)  진동_z(g)  진동_x 최대(g)  \
서울시 SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
...               ...     ...      ...      ...      ...         ...
    SDOT001      0.03    0.06     1.02     0.08     0.12         1.1
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN

             진동_y 최대(g)  진동_z 최대(g)  흑구 운도(℃)  초미세먼지 보정(㎍/㎥)  \
서울시 SDOT001        -7.5           6        11   202201162300
    SDOT001        -7.8           3         7   202201162300
    SDOT001        -8.1           5        13   202201162300
    SDOT001         NaN           3         5   202201162300
    SDOT001        -8.2           5        10   202201162300
...                 ...         ...       ...            ...
    SDOT001         NaN          50        65   202201232200
    SDOT001         NaN          23        25   202201232200
    SDOT001         NaN          14        22   202201232200
    SDOT001         NaN          60        81   202201232200
    SDOT001         NaN          13        22   202201232200

                    미세먼지 보정(㎍/㎥)  전송시간  등록일자
서울시 SDOT001  2022-01-17 00:07:00   NaN   NaN
    SDOT001  2022-01-17 00:07:00   NaN   NaN
    SDOT001  2022-01-17 00:07:00   NaN   NaN
    SDOT001  2022-01-17 00:07:00   NaN   NaN
    SDOT001  2022-01-17 00:07:00   NaN   NaN
...                          ...   ...   ...
    SDOT001  2022-01-23 23:07:56   NaN   NaN
    SDOT001  2022-01-23 23:07:56   NaN   NaN
    SDOT001  2022-01-23 23:07:56   NaN   NaN
    SDOT001  2022-01-23 23:07:56   NaN   NaN
    SDOT001  2022-01-23 23:08:01   NaN   NaN

[169219 rows x 26 columns]

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_01/S-DoT_NATURE_2022.01.24-01.30.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

                    기관 명  모델명  시리얼  구분  초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  기온(℃)  \
서울시 SDOT001  OC3CL200011    1   37  54        21.6       85.0    NaN
    SDOT001  OC3CL200014    1   34  49         3.5       58.0    NaN
    SDOT001  OC3CL200017    1   26  38         0.7       77.0    NaN
    SDOT001  OC3CL200020    1   19  28         3.1       62.0    NaN
    SDOT001  OC3CL200028    1   38  55         2.3       62.0    NaN
...                  ...  ...  ...  ..         ...        ...    ...
    SDOT001  V02Q1940953    1    5   5         0.3       38.0    NaN
    SDOT001  V02Q1940954    1    9   9         0.3       37.0    NaN
    SDOT001  V02Q1941006    1    1   2        -0.9       41.0    NaN
    SDOT001  V02Q1941015    1   11  11        -0.2       40.0    NaN
    SDOT001  V02Q1940952    1    9   9         0.2       37.0    NaN

             상대습도( %)  풍향(°)  풍속(m/s)  돌풍 풍향(°)  돌풍 풍속(m/s)  조도(lux)  \
서울시 SDOT001       NaN    NaN      NaN       NaN         1.3     50.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     54.0
    SDOT001       NaN    NaN      NaN       NaN         0.0     62.0
    SDOT001       NaN    NaN      NaN       NaN         NaN     69.0
    SDOT001       NaN    NaN      NaN       NaN         NaN     53.0
...               ...    ...      ...       ...         ...      ...
    SDOT001       NaN    NaN      NaN       1.0         0.0     45.0
    SDOT001       NaN    NaN      NaN      15.0         0.0     56.0
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN      10.0         0.0     45.0

             자외선(UVI)  소음(dB)  진동_x(g)  진동_y(g)  진동_z(g)  진동_x 최대(g)  \
서울시 SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
...               ...     ...      ...      ...      ...         ...
    SDOT001      0.08    0.02     0.98     0.13     0.11        1.08
    SDOT001      0.08    0.09     1.04     0.13     0.15        1.11
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001      0.02    0.12     1.04     0.07     0.18        1.12

             진동_y 최대(g)  진동_z 최대(g)  흑구 운도(℃)  초미세먼지 보정(㎍/㎥)  \
서울시 SDOT001        15.4          43        64   202201232300
    SDOT001         2.0          43        60   202201232300
    SDOT001        -0.1          38        53   202201232300
    SDOT001         NaN          27        39   202201232300
    SDOT001         NaN          43        64   202201232300
...                 ...         ...       ...            ...
    SDOT001         NaN           7         8   202201302200
    SDOT001         NaN           9        16   202201302200
    SDOT001         NaN           2         3   202201302200
    SDOT001         NaN          11        17   202201302200
    SDOT001         NaN          10        16   202201302200

                    미세먼지 보정(㎍/㎥)  전송시간  등록일자
서울시 SDOT001  2022-01-24 00:07:00   NaN   NaN
    SDOT001  2022-01-24 00:07:00   NaN   NaN
    SDOT001  2022-01-24 00:07:00   NaN   NaN
    SDOT001  2022-01-24 00:07:00   NaN   NaN
    SDOT001  2022-01-24 00:07:00   NaN   NaN
...                          ...   ...   ...
    SDOT001  2022-01-30 23:07:58   NaN   NaN
    SDOT001  2022-01-30 23:07:58   NaN   NaN
    SDOT001  2022-01-30 23:07:58   NaN   NaN
    SDOT001  2022-01-30 23:07:58   NaN   NaN
    SDOT001  2022-01-30 23:07:58   NaN   NaN

[169732 rows x 26 columns]

In [ ]:
a05 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_01/S-DoT_NATURE_2022.01.31-02.06.csv')
b05 = pd.read_csv(a05, encoding='euc-kr')
b05

                    기관 명  모델명  시리얼  구분  초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  기온(℃)  \
서울시 SDOT001  OC3CL200017    1    4   6        -1.6       45.0    NaN
    SDOT001  OC3CL200011    1    6   9        21.6       85.0    NaN
    SDOT001  OC3CL200016    1    6  10        -0.8       42.0    NaN
    SDOT001  OC3CL200013    1    7  10        -3.4       48.0    NaN
    SDOT001  OC3CL200012    1    8  13        -0.8       40.0    NaN
...                  ...  ...  ...  ..         ...        ...    ...
    SDOT001  V02Q1940955    1    4   4        -2.3       44.0    NaN
    SDOT001  V02Q1941013    1    0   0        -1.5       44.0    NaN
    SDOT001  V02Q1941015    1    9   9        -2.3       43.0    NaN
    SDOT001  V02Q1941006    1    1   1        -2.5       47.0    NaN
    SDOT001  V02Q1941000    1    0   0        -2.1       44.0    NaN

             상대습도( %)  풍향(°)  풍속(m/s)  돌풍 풍향(°)  돌풍 풍속(m/s)  조도(lux)  \
서울시 SDOT001       NaN    NaN      NaN       NaN         0.0     62.0
    SDOT001       NaN    NaN      NaN       NaN         1.3     50.0
    SDOT001       NaN    NaN      NaN       NaN         1.4     36.0
    SDOT001       NaN    NaN      NaN       NaN         1.4     46.0
    SDOT001       NaN    NaN      NaN       NaN         1.4     56.0
...               ...    ...      ...       ...         ...      ...
    SDOT001       NaN    NaN      NaN       0.0         0.0     44.0
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN
    SDOT001       NaN    NaN      NaN       0.0         0.0      NaN

             자외선(UVI)  소음(dB)  진동_x(g)  진동_y(g)  진동_z(g)  진동_x 최대(g)  \
서울시 SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
...               ...     ...      ...      ...      ...         ...
    SDOT001      0.04    0.05     1.02     0.09     0.11        1.11
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN
    SDOT001       NaN     NaN      NaN      NaN      NaN         NaN

             진동_y 최대(g)  진동_z 최대(g)  흑구 운도(℃)  초미세먼지 보정(㎍/㎥)  \
서울시 SDOT001        -5.0           8        10   202201302300
    SDOT001        14.6           9        13   202201302300
    SDOT001        -4.4           9        17   202201302300
    SDOT001        -5.8          11        18   202201302300
    SDOT001        -4.7          10        19   202201302300
...                 ...         ...       ...            ...
    SDOT001         NaN           7         5   202202062200
    SDOT001         NaN           0         0   202202062200
    SDOT001         NaN          11        16   202202062200
    SDOT001         NaN           2         2   202202062200
    SDOT001         NaN           0         0   202202062200

                    미세먼지 보정(㎍/㎥)  전송시간  등록일자
서울시 SDOT001  2022-01-31 00:07:00   NaN   NaN
    SDOT001  2022-01-31 00:07:00   NaN   NaN
    SDOT001  2022-01-31 00:07:00   NaN   NaN
    SDOT001  2022-01-31 00:07:00   NaN   NaN
    SDOT001  2022-01-31 00:07:00   NaN   NaN
...                          ...   ...   ...
    SDOT001  2022-02-06 23:07:58   NaN   NaN
    SDOT001  2022-02-06 23:07:58   NaN   NaN
    SDOT001  2022-02-06 23:07:58   NaN   NaN
    SDOT001  2022-02-06 23:07:58   NaN   NaN
    SDOT001  2022-02-06 23:07:58   NaN   NaN

[168834 rows x 26 columns]

In [ ]:
result_2201 = pd.concat([b01, b02, b03, b04,b05],ignore_index=True)

rename_dot = result_2201.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
index_drop_dot = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
index_drop_dot.to_csv("2201")

## 2021년 2월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_02/S-DoT_NATURE_2021.02.01-02.07.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
drop01 = b01.drop(columns = ['기관 명', '모델명']) # column 밀림으로 생긴 두 열을 삭제함
drop01

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200010,1,8.0,12.0,000-4.5,54.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,000-6.2,8.0,12.0,2.021020e+11,2021-02-03 0:07
1,OC3CL200011,1,9.0,14.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,14.5,9.0,14.0,2.021020e+11,2021-02-03 0:07
2,OC3CL200014,1,7.0,10.0,000-6.4,46.0,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,000-8.1,7.0,10.0,2.021020e+11,2021-02-03 0:07
3,OC3CL200017,1,5.0,8.0,000-6.4,48.0,NaN,NaN,NaN,NaN,NaN,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,000-8.0,5.0,8.0,2.021020e+11,2021-02-03 0:07
4,OC3CL200020,1,5.0,9.0,000-6.6,48.0,NaN,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,9.0,2.021020e+11,2021-02-03 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127868,V02Q1940948,1,27.0,33.0,0.7,43.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.04,1.05,0.08,0.11,1.12,NaN,17.0,25.0,2.021020e+11,2021-02-07 23:07
127869,V02Q1940955,1,20.0,20.0,-0.1,48.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.03,0.05,1.02,0.09,0.12,1.10,NaN,12.0,16.0,2.021020e+11,2021-02-07 23:07
127870,V02Q1940954,1,65.0,76.0,0.5,43.0,NaN,NaN,NaN,NaN,9.0,0.0,56.0,0.07,0.09,1.04,0.14,0.14,1.10,NaN,23.0,33.0,2.021020e+11,2021-02-07 23:07
127871,V02Q1940947,1,2.0,3.0,0.8,45.0,NaN,NaN,NaN,NaN,0.0,0.0,58.0,0.02,0.04,1.02,0.08,0.11,1.10,NaN,3.0,5.0,2.021020e+11,2021-02-07 23:07
127872,V02Q1940946,1,44.0,44.0,-0.3,48.0,NaN,NaN,NaN,NaN,8.0,0.0,44.0,0.07,0.10,1.00,0.12,0.16,1.11,NaN,21.0,19.0,2.021020e+11,2021-02-07 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_02/S-DoT_NATURE_2021.02.08-02.14.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
drop02 = b02.drop(columns = ['기관 명', '모델명']) # column 밀림으로 생긴 두 열을 삭제함
drop02

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200010,1,21.0,30.0,-0.9,45.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,-4.1,21.0,30.0,2.021020e+11,2021-02-08 0:07
1,OC3CL200011,1,22.0,33.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,15.2,22.0,33.0,2.021020e+11,2021-02-08 0:07
2,OC3CL200008,1,9.0,13.0,15.3,19.0,NaN,NaN,NaN,NaN,0.0,0.0,52.0,1.03,0.09,0.18,1.08,0.15,0.31,NaN,9.0,13.0,2.021020e+11,2021-02-08 0:07
3,OC3CL200014,1,22.0,32.0,-1.4,45.0,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,-4.4,22.0,32.0,2.021020e+11,2021-02-08 0:07
4,OC3CL200015,1,28.0,42.0,-1.7,45.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,-4.7,28.0,42.0,2.021020e+11,2021-02-08 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178197,V02Q1940948,1,132.0,133.0,11.0,49.0,NaN,NaN,NaN,NaN,0.0,0.0,40.0,0.01,0.05,1.05,0.06,0.12,1.11,NaN,128.0,148.0,2.021020e+11,2021-02-14 23:07
178198,V02Q1940889,1,59.0,59.0,11.5,45.0,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.01,0.04,1.02,0.06,0.14,1.09,NaN,67.0,72.0,2.021020e+11,2021-02-14 23:07
178199,V02Q1940955,1,119.0,122.0,11.0,48.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.02,0.06,1.03,0.07,0.13,1.11,NaN,110.0,129.0,2.021020e+11,2021-02-14 23:07
178200,V02Q1940953,1,97.0,99.0,10.0,49.0,NaN,NaN,NaN,NaN,2.0,0.0,44.0,0.08,0.03,0.98,0.13,0.10,1.06,NaN,100.0,110.0,2.021020e+11,2021-02-14 23:07
178201,V02Q1940950,1,88.0,88.0,11.2,48.0,NaN,NaN,NaN,NaN,7.0,0.0,37.0,0.02,0.08,0.96,0.06,0.14,1.04,NaN,77.0,92.0,2.021020e+11,2021-02-14 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_02/S-DoT_NATURE_2021.02.15-02.21.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
drop03 = b03.drop(columns = ['기관 명', '모델명']) # column 밀림으로 생긴 두 열을 삭제함
drop03

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200008,1,63.0,91.0,16.3,27.0,NaN,NaN,NaN,NaN,0.0,0.0,55.0,1.04,0.02,0.05,1.09,0.11,0.15,NaN,63.0,91.0,2.021020e+11,2021-02-15 0:07
1,OC3CL200010,1,46.0,67.0,6.5,59.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,46.0,67.0,2.021020e+11,2021-02-15 0:07
2,OC3CL200011,1,51.0,73.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,17.5,51.0,73.0,2.021020e+11,2021-02-15 0:07
3,OC3CL200012,1,89.0,130.0,10.8,43.0,NaN,NaN,NaN,NaN,NaN,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,7.7,89.0,130.0,2.021020e+11,2021-02-15 0:07
4,OC3CL200013,1,93.0,136.0,8.5,49.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,6.2,93.0,136.0,2.021020e+11,2021-02-15 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134285,V02Q1940951,1,20.0,21.0,12.0,62.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.03,0.99,0.06,0.11,1.09,NaN,24.0,33.0,2.021020e+11,2021-02-21 23:08
134286,V02Q1940955,1,22.0,23.0,12.5,59.0,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.02,0.06,1.03,0.07,0.13,1.10,NaN,25.0,37.0,2.021020e+11,2021-02-21 23:08
134287,V02Q1940950,1,30.0,30.0,12.9,59.0,NaN,NaN,NaN,NaN,6.0,0.0,37.0,0.02,0.08,0.96,0.06,0.14,1.07,NaN,30.0,42.0,2.021020e+11,2021-02-21 23:08
134288,V02Q1940854,1,37.0,37.0,13.2,57.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.03,0.12,1.05,0.09,0.18,1.11,NaN,31.0,43.0,2.021020e+11,2021-02-21 23:08
134289,V02Q1940954,1,49.0,59.0,12.8,58.0,NaN,NaN,NaN,NaN,8.0,0.0,56.0,0.07,0.09,1.02,0.11,0.14,1.10,NaN,41.0,55.0,2.021020e+11,2021-02-21 23:08

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_02/S-DoT_NATURE_2021.02.22-02.28.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
drop04 = b04.drop(columns = ['기관 명', '모델명']) # column 밀림으로 생긴 두 열을 삭제함
drop04

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도(%),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_(x)(g),진동_(y)(g),진동_(z)(g),진동_x 최대(g)),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록 일자
0,OC3CL200010,1,17.0,26.0,9.3,61.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,7.7,17.0,26.0,2.020000e+13,2021-02-22 1:03
1,OC3CL200011,1,15.0,24.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,17.6,15.0,24.0,2.020000e+13,2021-02-22 1:03
2,OC3CL200012,1,18.0,28.0,11.1,59.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,9.1,18.0,28.0,2.020000e+13,2021-02-22 1:03
3,OC3CL200013,1,17.0,28.0,9.4,66.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,8.2,17.0,28.0,2.020000e+13,2021-02-22 1:03
4,OC3CL200014,1,17.0,26.0,10.2,62.0,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,8.6,17.0,26.0,2.020000e+13,2021-02-22 1:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121876,V02Q1940954,1,31.0,41.0,15.1,22.0,NaN,NaN,NaN,NaN,8.0,0.0,57.0,0.07,0.09,1.02,0.12,0.14,1.10,NaN,17.0,34.0,2.020000e+13,2021-02-26 20:03
121877,V02Q1940955,1,5.0,5.0,13.3,24.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.06,1.03,0.07,0.13,1.11,NaN,5.0,7.0,2.020000e+13,2021-02-26 20:03
121878,V02Q1941006,1,11.0,18.0,12.8,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,18.0,2.020000e+13,2021-02-26 20:03
121879,V02Q1941013,1,0.0,0.0,13.3,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.020000e+13,2021-02-26 20:03
121880,V02Q1941015,1,1.0,2.0,13.3,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.020000e+13,2021-02-26 20:03

In [ ]:
result_2102 = pd.concat([drop01, drop02, drop03, drop04],ignore_index=True)
result_2102.to_csv("2102")

## 2021년 3월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_03/S-DoT_NATURE_2021.03.01-03.07.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,2.0,3.0,6.7,43.0,NaN,NaN,NaN,NaN,NaN,0.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3.0,2.021030e+11,2021-03-02 18:07
1,서울시,SDOT001,OC3CL200012,1,2.0,4.0,5.8,44.0,NaN,NaN,NaN,NaN,NaN,0.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,3.3,2.0,4.0,2.021030e+11,2021-03-02 18:07
2,서울시,SDOT001,OC3CL200011,1,2.0,3.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,17.7,2.0,3.0,2.021030e+11,2021-03-02 18:07
3,서울시,SDOT001,OC3CL200017,1,1.0,2.0,6.4,42.0,NaN,NaN,NaN,NaN,NaN,0.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,5.1,1.0,2.0,2.021030e+11,2021-03-02 18:07
4,서울시,SDOT001,OC3CL200013,1,1.0,2.0,5.6,43.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,3.3,1.0,2.0,2.021030e+11,2021-03-02 18:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118428,서울시,SDOT001,V02Q1941006,1,21.0,27.0,6.5,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,32.0,2.021030e+11,2021-03-07 23:07
118429,서울시,SDOT001,V02Q1940951,1,18.0,18.0,7.0,63.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.04,0.99,0.07,0.11,1.10,NaN,22.0,26.0,2.021030e+11,2021-03-07 23:07
118430,서울시,SDOT001,V02Q1940954,1,34.0,41.0,8.2,56.0,NaN,NaN,NaN,NaN,8.0,0.0,56.0,0.07,0.09,1.03,0.12,0.14,1.11,NaN,36.0,46.0,2.021030e+11,2021-03-07 23:07
118431,서울시,SDOT001,V02Q1940953,1,20.0,20.0,8.0,55.0,NaN,NaN,NaN,NaN,4.0,0.0,46.0,0.08,0.02,0.98,0.13,0.12,1.08,NaN,20.0,24.0,2.021030e+11,2021-03-07 23:07
118432,서울시,SDOT001,V02Q1940952,1,5.0,6.0,9.3,51.0,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.03,0.08,1.03,0.10,0.15,1.11,NaN,9.0,8.0,2.021030e+11,2021-03-07 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_03/S-DoT_NATURE_2021.03.08-03.14.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200012,1,24.0,36.0,6.6,59.0,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,24.0,36.0,2.021030e+11,2021-03-08 0:07
1,서울시,SDOT001,OC3CL200011,1,22.0,32.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,16.2,22.0,32.0,2.021030e+11,2021-03-08 0:07
2,서울시,SDOT001,OC3CL200010,1,21.0,31.0,2.5,76.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,2.1,21.0,31.0,2.021030e+11,2021-03-08 0:07
3,서울시,SDOT001,OC3CL200013,1,16.0,23.0,4.9,63.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,3.8,16.0,23.0,2.021030e+11,2021-03-08 0:07
4,서울시,SDOT001,OC3CL200014,1,16.0,24.0,6.6,57.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,16.0,24.0,2.021030e+11,2021-03-08 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176045,서울시,SDOT001,V02Q1940952,1,7.0,8.0,11.6,57.0,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.02,0.08,1.03,0.09,0.14,1.11,NaN,11.0,14.0,2.021030e+11,2021-03-14 23:07
176046,서울시,SDOT001,V02Q1941015,1,9.0,21.0,10.9,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,41.0,2.021030e+11,2021-03-14 23:07
176047,서울시,SDOT001,V02Q1940953,1,49.0,49.0,10.4,62.0,NaN,NaN,NaN,NaN,5.0,0.0,46.0,0.08,0.03,0.98,0.13,0.10,1.10,NaN,45.0,49.0,2.021030e+11,2021-03-14 23:07
176048,서울시,SDOT001,V02Q1940954,1,40.0,47.0,11.8,57.0,NaN,NaN,NaN,NaN,7.0,0.0,57.0,0.07,0.09,1.03,0.11,0.14,1.12,NaN,47.0,63.0,2.021030e+11,2021-03-14 23:07
176049,서울시,SDOT001,V02Q1940955,1,65.0,65.0,11.0,60.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.02,0.06,1.02,0.07,0.13,1.10,NaN,65.0,68.0,2.021030e+11,2021-03-14 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_03/S-DoT_NATURE_2021.03.15-03.21.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200011,1,43.0,61.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,17.1,43.0,61.0,2.021030e+11,2021-03-15 0:07
1,서울시,SDOT001,OC3CL200010,1,42.0,62.0,7.3,67.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,6.3,42.0,62.0,2.021030e+11,2021-03-15 0:07
2,서울시,SDOT001,OC3CL200013,1,60.0,88.0,7.9,66.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,6.9,60.0,88.0,2.021030e+11,2021-03-15 0:07
3,서울시,SDOT001,OC3CL200012,1,68.0,99.0,10.0,61.0,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,8.3,68.0,99.0,2.021030e+11,2021-03-15 0:07
4,서울시,SDOT001,OC3CL200014,1,64.0,93.0,9.8,60.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,8.2,64.0,93.0,2.021030e+11,2021-03-15 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176424,서울시,SDOT001,V02Q1941013,1,0.0,0.0,5.9,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021030e+11,2021-03-21 23:07
176425,서울시,SDOT001,V02Q1940947,1,33.0,33.0,5.9,53.0,NaN,NaN,NaN,NaN,0.0,0.0,48.0,0.01,0.06,1.03,0.05,0.11,1.09,NaN,26.0,28.0,2.021030e+11,2021-03-21 23:07
176426,서울시,SDOT001,V02Q1940944,1,23.0,23.0,5.7,53.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.13,1.02,0.05,0.18,1.09,NaN,22.0,25.0,2.021030e+11,2021-03-21 23:07
176427,서울시,SDOT001,V02Q1940952,1,30.0,30.0,6.1,51.0,NaN,NaN,NaN,NaN,0.0,0.0,40.0,0.01,0.12,1.04,0.06,0.17,1.11,NaN,23.0,25.0,2.021030e+11,2021-03-21 23:07
176428,서울시,SDOT001,V02Q1940950,1,17.0,17.0,6.0,53.0,NaN,NaN,NaN,NaN,8.0,0.0,40.0,0.02,0.10,0.96,0.06,0.16,1.04,NaN,18.0,19.0,2.021030e+11,2021-03-21 23:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_03/S-DoT_NATURE_2021.03.22-03.28.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,13.0,19.0,5.3,49.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,3.1,13.0,19.0,2.021030e+11,2021-03-22 0:07
1,서울시,SDOT001,OC3CL200011,1,14.0,21.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,16.6,14.0,21.0,2.021030e+11,2021-03-22 0:07
2,서울시,SDOT001,OC3CL200013,1,13.0,19.0,3.2,56.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,1.6,13.0,19.0,2.021030e+11,2021-03-22 0:07
3,서울시,SDOT001,OC3CL200014,1,12.0,18.0,4.3,52.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,2.6,12.0,18.0,2.021030e+11,2021-03-22 0:07
4,서울시,SDOT001,OC3CL200012,1,19.0,28.0,4.3,53.0,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,2.5,19.0,28.0,2.021030e+11,2021-03-22 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176549,서울시,SDOT001,V02Q1940954,1,66.0,66.0,11.0,83.0,NaN,NaN,NaN,NaN,13.0,0.0,59.0,0.06,0.08,1.03,0.11,0.14,1.11,NaN,60.0,60.0,2.021030e+11,2021-03-28 23:07
176550,서울시,SDOT001,V02Q1941006,1,30.0,34.0,10.1,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,28.0,2.021030e+11,2021-03-28 23:07
176551,서울시,SDOT001,V02Q1941013,1,0.0,0.0,9.8,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021030e+11,2021-03-28 23:07
176552,서울시,SDOT001,V02Q1941015,1,7.0,16.0,10.5,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,26.0,2.021030e+11,2021-03-28 23:07
176553,서울시,SDOT001,V02Q1940955,1,36.0,36.0,10.8,84.0,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.02,0.05,1.03,0.06,0.12,1.11,NaN,35.0,42.0,2.021030e+11,2021-03-28 23:07

In [ ]:
a05 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_03/S-DoT_NATURE_2021.03.29-04.04.csv')
b05 = pd.read_csv(a05, encoding='euc-kr')
b05

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,21.0,31.0,9.2,87.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,9.3,21.0,31.0,2.021030e+11,2021-03-29 0:07
1,서울시,SDOT001,OC3CL200012,1,37.0,54.0,9.5,95.0,NaN,NaN,NaN,NaN,NaN,1.7,56.0,NaN,NaN,NaN,NaN,NaN,NaN,10.1,37.0,54.0,2.021030e+11,2021-03-29 0:07
2,서울시,SDOT001,OC3CL200011,1,19.0,28.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,17.6,19.0,28.0,2.021030e+11,2021-03-29 0:07
3,서울시,SDOT001,OC3CL200013,1,20.0,30.0,8.3,97.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,9.1,20.0,30.0,2.021030e+11,2021-03-29 0:07
4,서울시,SDOT001,OC3CL200014,1,31.0,45.0,9.2,91.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,9.6,31.0,45.0,2.021030e+11,2021-03-29 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99587,서울시,SDOT001,V02Q1940864,1,4.0,4.0,12.8,48.0,NaN,NaN,NaN,NaN,111.0,0.0,50.0,0.04,0.09,1.01,0.10,0.15,1.09,9.7,7.0,7.0,2.021040e+11,2021-04-04 23:08
99588,서울시,SDOT001,V02Q1940859,1,7.0,7.0,11.2,53.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.03,0.03,1.11,0.08,0.12,1.16,NaN,11.0,14.0,2.021040e+11,2021-04-04 23:08
99589,서울시,SDOT001,V02Q1940876,1,4.0,4.0,11.9,55.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.02,1.04,0.05,0.10,1.10,NaN,6.0,6.0,2.021040e+11,2021-04-04 23:08
99590,서울시,SDOT001,V02Q1940857,1,7.0,7.0,7.8,75.0,NaN,NaN,NaN,NaN,0.0,0.0,37.0,0.01,0.13,1.05,0.05,0.18,1.11,NaN,10.0,12.0,2.021040e+11,2021-04-04 23:08
99591,서울시,SDOT001,V02Q1940867,1,4.0,4.0,13.1,50.0,NaN,NaN,NaN,NaN,NaN,0.0,41.0,0.04,0.02,1.05,0.09,0.11,1.12,10.1,7.0,5.0,2.021040e+11,2021-04-04 23:08

In [ ]:
result_2109 = pd.concat([b01, b02, b03, b04, b05],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2103")

## 2021년 4월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_04/S-DoT_NATURE_2021.04.05-04.11.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200135,1,2.0,3.0,9.9,51.0,345.0,0.7,230.0,1.4,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,2.021040e+11,2021-04-05 0:07
1,서울시,SDOT001,OC3CL200147,1,3.0,6.0,9.9,54.0,43.0,0.2,46.4,0.6,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,2.021040e+11,2021-04-05 0:07
2,서울시,SDOT001,OC3CL200142,1,3.0,5.0,9.5,49.0,34.0,0.7,98.8,2.1,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,2.021040e+11,2021-04-05 0:07
3,서울시,SDOT001,OC3CL200132,1,2.0,4.0,5.8,81.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,2.021040e+11,2021-04-05 0:07
4,서울시,SDOT001,OC3CL200145,1,2.0,5.0,9.5,54.0,97.0,0.3,113.0,0.7,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.021040e+11,2021-04-05 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135428,서울시,SDOT001,V02Q1940843,1,29.0,30.0,17.2,42.0,NaN,NaN,NaN,NaN,0.0,0.0,40.0,0.04,0.09,1.02,0.09,0.15,1.13,NaN,24.0,32.0,2.021040e+11,2021-04-11 23:07
135429,서울시,SDOT001,V02Q1940886,1,22.0,23.0,17.7,41.0,NaN,NaN,NaN,NaN,0.0,0.0,40.0,0.03,0.08,1.05,0.09,0.14,1.12,NaN,21.0,28.0,2.021040e+11,2021-04-11 23:07
135430,서울시,SDOT001,V02Q1940887,1,22.0,23.0,18.8,34.0,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.09,0.09,1.05,0.14,0.15,1.12,NaN,21.0,32.0,2.021040e+11,2021-04-11 23:07
135431,서울시,SDOT001,V02Q1940942,1,16.0,17.0,17.2,40.0,NaN,NaN,NaN,NaN,1.0,0.0,47.0,0.07,0.06,1.04,0.10,0.12,1.13,NaN,21.0,30.0,2.021040e+11,2021-04-11 23:07
135432,서울시,SDOT001,V02Q1940888,1,29.0,33.0,18.6,34.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.03,0.03,1.03,0.08,0.11,1.10,NaN,25.0,39.0,2.021040e+11,2021-04-11 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_04/S-DoT_NATURE_2021.04.12-04.18.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
rename_dot2 = b02.rename(columns={'상대습도(%)':'상대습도( %)',	'진동_(x)(g)':'진동_x(g)', '진동_(y)(g)' :'진동_y(g)',	'진동_(z)(g)' :'진동_z(g)', 	'진동_x 최대(g))' : '진동_x 최대(g)', '흑구 온도(℃)' : '흑구 운도(℃)',	'등록 일자' : '등록일자'})
rename_dot2

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,16.0,26.0,13.1,57.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,10.9,22.0,40.0,2.020000e+13,2021-04-12 1:03
1,서울시,SDOT001,OC3CL200011,1,17.0,27.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,18.5,19.0,38.0,2.020000e+13,2021-04-12 1:03
2,서울시,SDOT001,OC3CL200012,1,19.0,33.0,17.0,34.0,NaN,NaN,NaN,NaN,NaN,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,12.4,22.0,40.0,2.020000e+13,2021-04-12 1:03
3,서울시,SDOT001,OC3CL200013,1,15.0,25.0,14.6,42.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,11.0,19.0,33.0,2.020000e+13,2021-04-12 1:03
4,서울시,SDOT001,OC3CL200014,1,19.0,30.0,16.5,39.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,12.6,23.0,39.0,2.020000e+13,2021-04-12 1:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178694,서울시,SDOT001,V02Q1940955,1,7.0,8.0,10.1,64.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.02,0.06,1.02,0.06,0.13,1.11,NaN,11.0,13.0,2.020000e+13,2021-04-19 0:03
178695,서울시,SDOT001,V02Q1941000,1,11.0,16.0,10.0,69.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,22.0,2.020000e+13,2021-04-19 0:03
178696,서울시,SDOT001,V02Q1941006,1,15.0,24.0,10.3,70.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,29.0,2.020000e+13,2021-04-19 0:03
178697,서울시,SDOT001,V02Q1941013,1,0.0,0.0,11.0,63.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.020000e+13,2021-04-19 0:03
178698,서울시,SDOT001,V02Q1941015,1,2.0,5.0,10.2,71.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,8.0,2.020000e+13,2021-04-19 0:03

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_04/S-DoT_NATURE_2021.04.19-04.25.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
rename_dot3 = b03.rename(columns={'상대습도(%)':'상대습도( %)',	'진동_(x)(g)':'진동_x(g)', '진동_(y)(g)' :'진동_y(g)',	'진동_(z)(g)' :'진동_z(g)', 	'진동_x 최대(g))' : '진동_x 최대(g)', '흑구 온도(℃)' : '흑구 운도(℃)',	'등록 일자' : '등록일자'})
rename_dot3

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,7.0,12.0,6.1,75.0,NaN,NaN,NaN,NaN,NaN,1.3,49.0,NaN,NaN,NaN,NaN,NaN,NaN,5.8,10.0,22.0,2.020000e+13,2021-04-19 1:03
1,서울시,SDOT001,OC3CL200011,1,7.0,11.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,17.1,10.0,19.0,2.020000e+13,2021-04-19 1:03
2,서울시,SDOT001,OC3CL200012,1,10.0,17.0,9.8,60.0,NaN,NaN,NaN,NaN,NaN,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,13.0,23.0,2.020000e+13,2021-04-19 1:03
3,서울시,SDOT001,OC3CL200013,1,8.0,13.0,7.2,73.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,6.7,11.0,19.0,2.020000e+13,2021-04-19 1:03
4,서울시,SDOT001,OC3CL200014,1,10.0,16.0,9.6,63.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,8.2,13.0,25.0,2.020000e+13,2021-04-19 1:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178878,서울시,SDOT001,V02Q1940955,1,3.0,3.0,19.3,37.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.02,0.07,1.03,0.06,0.13,1.11,NaN,3.0,5.0,2.020000e+13,2021-04-26 0:03
178879,서울시,SDOT001,V02Q1941000,1,6.0,9.0,19.8,39.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,13.0,2.020000e+13,2021-04-26 0:03
178880,서울시,SDOT001,V02Q1941006,1,8.0,14.0,18.6,45.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,17.0,2.020000e+13,2021-04-26 0:03
178881,서울시,SDOT001,V02Q1941013,1,4.0,4.0,20.7,38.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,2.020000e+13,2021-04-26 0:03
178882,서울시,SDOT001,V02Q1941015,1,1.0,2.0,19.1,40.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,2.020000e+13,2021-04-26 0:03

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_04/S-DoT_NATURE_2021.04.26-05.02.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
rename_dot4 = b04.rename(columns={'상대습도(%)':'상대습도( %)',	'진동_(x)(g)':'진동_x(g)', '진동_(y)(g)' :'진동_y(g)',	'진동_(z)(g)' :'진동_z(g)', 	'진동_x 최대(g))' : '진동_x 최대(g)', '흑구 온도(℃)' : '흑구 운도(℃)',	'등록 일자' : '등록일자'})
rename_dot4

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,2,4,12.1,65.0,NaN,NaN,NaN,NaN,NaN,1.3,48.0,NaN,NaN,NaN,NaN,NaN,NaN,10.7,3,6,2.020000e+13,2021-04-26 1:03
1,서울시,SDOT001,OC3CL200011,1,2,4,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,18.5,4,6,2.020000e+13,2021-04-26 1:03
2,서울시,SDOT001,OC3CL200012,1,3,5,17.2,37.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,12.8,3,7,2.020000e+13,2021-04-26 1:03
3,서울시,SDOT001,OC3CL200013,1,2,3,16.4,40.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,12.4,3,5,2.020000e+13,2021-04-26 1:03
4,서울시,SDOT001,OC3CL200014,1,2,4,18.4,34.0,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,13.7,3,6,2.020000e+13,2021-04-26 1:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178677,서울시,SDOT001,V02Q1940955,1,7,7,12.3,64.0,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.02,0.06,1.02,0.06,0.13,1.12,NaN,12,9,2.020000e+13,2021-05-03 0:03
178678,서울시,SDOT001,V02Q1941000,1,11,15,12.3,70.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,22,2.020000e+13,2021-05-03 0:03
178679,서울시,SDOT001,V02Q1941006,1,12,19,12.4,72.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,25,2.020000e+13,2021-05-03 0:03
178680,서울시,SDOT001,V02Q1941013,1,10,10,12.6,72.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,18,2.020000e+13,2021-05-03 0:03
178681,서울시,SDOT001,V02Q1941015,1,1,3,12.8,68.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,2.020000e+13,2021-05-03 0:03

In [ ]:
result_2109 = pd.concat([b01, rename_dot2, rename_dot3, rename_dot4],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2104")

## 2021년 5월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_05/S-DoT_NATURE_2021.05.03-05.09.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200085,1,5.0,7.0,11.1,61.0,NaN,NaN,NaN,NaN,8041.0,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,10.0,2.021050e+11,2021-05-03 0:07
1,서울시,SDOT001,OC3CL200110,1,2.0,4.0,12.8,55.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,2.021050e+11,2021-05-03 0:07
2,서울시,SDOT001,OC3CL200084,1,5.0,8.0,13.2,52.0,NaN,NaN,NaN,NaN,0.0,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,14.0,2.021050e+11,2021-05-03 0:07
3,서울시,SDOT001,OC3CL200089,1,5.0,8.0,9.6,69.0,NaN,NaN,NaN,NaN,0.0,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,16.0,2.021050e+11,2021-05-03 0:07
4,서울시,SDOT001,OC3CL200076,1,4.0,6.0,11.5,57.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,11.0,2.021050e+11,2021-05-03 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87278,서울시,SDOT001,V02Q1941000,1,6.0,15.0,15.5,48.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,23.0,2.021050e+11,2021-05-09 23:07
87279,서울시,SDOT001,V02Q1941015,1,1.0,3.0,15.9,49.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,2.021050e+11,2021-05-09 23:07
87280,서울시,SDOT001,V02Q1940953,1,1.0,2.0,15.5,43.0,NaN,NaN,NaN,NaN,4.0,0.0,46.0,0.08,0.03,0.98,0.12,0.11,1.08,NaN,1.0,3.0,2.021050e+11,2021-05-09 23:07
87281,서울시,SDOT001,V02Q1940950,1,1.0,1.0,17.6,40.0,NaN,NaN,NaN,NaN,7.0,0.0,37.0,0.01,0.10,0.97,0.06,0.16,1.04,NaN,2.0,1.0,2.021050e+11,2021-05-09 23:07
87282,서울시,SDOT001,V02Q1940875,1,1.0,1.0,16.1,45.0,NaN,NaN,NaN,NaN,0.0,0.0,38.0,0.06,0.05,1.00,0.11,0.13,1.12,NaN,2.0,2.0,2.021050e+11,2021-05-09 23:08

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_05/S-DoT_NATURE_2021.05.10-05.16.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,0.0,1.0,10.5,60.0,NaN,NaN,NaN,NaN,NaN,1.3,49.0,NaN,NaN,NaN,NaN,NaN,NaN,8.9,0.0,2.0,202105000000.0,2021-05-10 0:07
1,서울시,SDOT001,OC3CL200011,1,0.0,0.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,18.0,0.0,0.0,202105000000.0,2021-05-10 0:07
2,서울시,SDOT001,OC3CL200013,1,0.0,1.0,13.7,48.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,10.7,0.0,2.0,202105000000.0,2021-05-10 0:07
3,서울시,SDOT001,OC3CL200017,1,0.0,0.0,13.7,50.0,NaN,NaN,NaN,NaN,NaN,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,10.6,0.0,1.0,202105000000.0,2021-05-10 0:07
4,서울시,SDOT001,OC3CL200021,1,3.0,7.0,15.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,12.0,202105000000.0,2021-05-10 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456699,서울시,SDOT001,V02Q1940888,1,0.0,0.0,16.0,88.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.03,1.02,0.07,0.1,1.1,NaN,0.0,0.0,202105000000.0,2021-05-16 23:07
456700,서울시,SDOT001,V02Q1940885,1,0.0,0.0,14.6,95.0,NaN,NaN,NaN,NaN,5.0,0.0,44.0,0.06,0.02,1.0,0.1,0.12,1.1,NaN,0.0,0.0,202105000000.0,2021-05-16 23:07
456701,서울시,SDOT001,V02Q1940945,1,0.0,0.0,16.5,95.0,NaN,NaN,NaN,NaN,2.0,0.0,44.0,0.02,0.06,1.0,0.07,0.13,1.1,NaN,0.0,0.0,202105000000.0,2021-05-16 23:07
456702,서울시,SDOT001,V02Q1940942,1,0.0,0.0,16.3,93.0,NaN,NaN,NaN,NaN,1.0,0.0,49.0,0.06,0.08,1.03,0.1,0.14,1.12,NaN,0.0,0.0,202105000000.0,2021-05-16 23:07
456703,서울시,SDOT001,V02Q1940946,1,0.0,0.0,16.3,92.0,NaN,NaN,NaN,NaN,7.0,0.0,43.0,0.09,0.12,0.98,0.13,0.17,1.1,NaN,0.0,0.0,202105000000.0,2021-05-16 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_05/S-DoT_NATURE_2021.05.17-05.23.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200044,1,0.0,0.0,14.8,100.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021050e+11,2021-05-17 0:07
1,서울시,SDOT001,OC3CL200049,1,0.0,0.0,13.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021050e+11,2021-05-17 0:07
2,서울시,SDOT001,OC3CL200038,1,0.0,0.0,14.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021050e+11,2021-05-17 0:07
3,서울시,SDOT001,OC3CL200035,1,0.0,0.0,14.7,100.0,NaN,NaN,NaN,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021050e+11,2021-05-17 0:07
4,서울시,SDOT001,OC3CL200047,1,0.0,0.0,14.3,100.0,NaN,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021050e+11,2021-05-17 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137049,서울시,SDOT001,V02Q1940801,1,14.0,14.0,20.9,53.0,NaN,NaN,NaN,NaN,1.0,0.0,44.0,0.01,0.03,1.05,0.05,0.14,1.11,NaN,16.0,20.0,2.021050e+11,2021-05-23 23:07
137050,서울시,SDOT001,V02Q1940809,1,13.0,14.0,19.9,56.0,NaN,NaN,NaN,NaN,10.0,0.0,45.0,0.01,0.03,1.01,0.05,0.11,1.10,NaN,15.0,19.0,2.021050e+11,2021-05-23 23:07
137051,서울시,SDOT001,V02Q1940813,1,14.0,14.0,20.0,57.0,132.0,0.2,125.0,0.4,0.0,0.0,54.0,0.01,0.03,1.04,0.06,0.11,1.12,NaN,17.0,20.0,2.021050e+11,2021-05-23 23:07
137052,서울시,SDOT001,V02Q1940817,1,14.0,14.0,21.8,54.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.01,0.01,1.02,0.06,0.13,1.66,NaN,12.0,19.0,2.021050e+11,2021-05-23 23:07
137053,서울시,SDOT001,V02Q1940815,1,10.0,10.0,20.4,51.0,221.0,0.3,213.0,0.7,0.0,0.0,49.0,0.03,0.02,1.01,0.08,0.13,1.09,NaN,12.0,17.0,2.021050e+11,2021-05-23 23:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_05/S-DoT_NATURE_2021.05.24-05.30.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200104,1,7.0,10.0,20.4,47,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,14.0,2.021050e+11,2021-05-24 0:07
1,서울시,SDOT001,OC3CL200097,1,7.0,11.0,19.9,45,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,20.0,2.021050e+11,2021-05-24 0:07
2,서울시,SDOT001,OC3CL200102,1,5.0,9.0,20.0,44,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,16.0,2.021050e+11,2021-05-24 0:07
3,서울시,SDOT001,OC3CL200091,1,6.0,10.0,18.6,54,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,14.0,2.021050e+11,2021-05-24 0:07
4,서울시,SDOT001,OC3CL200090,1,9.0,13.0,19.2,50,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,22.0,2.021050e+11,2021-05-24 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163579,서울시,SDOT001,V02Q1940952,1,25.0,26.0,17.9,92,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.02,0.13,1.03,0.07,0.18,1.10,NaN,22.0,37.0,2.021050e+11,2021-05-30 23:07
163580,서울시,SDOT001,V02Q1941015,1,4.0,9.0,18.6,90,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,16.0,2.021050e+11,2021-05-30 23:07
163581,서울시,SDOT001,V02Q1941013,1,11.0,12.0,17.4,97,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,16.0,2.021050e+11,2021-05-30 23:07
163582,서울시,SDOT001,V02Q1940955,1,22.0,22.0,18.3,88,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.01,0.06,1.03,0.05,0.12,1.11,NaN,20.0,26.0,2.021050e+11,2021-05-30 23:07
163583,서울시,SDOT001,V02Q1941000,1,21.0,26.0,17.9,94,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,36.0,2.021050e+11,2021-05-30 23:07

In [ ]:
a05 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_05/S-DoT_NATURE_2021.05.31-06.06.csv')
b05 = pd.read_csv(a05, encoding='euc-kr')
b05

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,27.0,40.0,17.1,100,NaN,NaN,NaN,NaN,NaN,1.3,55.0,NaN,NaN,NaN,NaN,NaN,NaN,17.1,28.0,48.0,2.021050e+11,2021-05-31 0:07
1,서울시,SDOT001,OC3CL200013,1,24.0,40.0,16.5,100,NaN,NaN,NaN,NaN,NaN,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,16.6,22.0,39.0,2.021050e+11,2021-05-31 0:07
2,서울시,SDOT001,OC3CL200015,1,39.0,59.0,16.8,100,NaN,NaN,NaN,NaN,NaN,0.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,16.8,46.0,58.0,2.021050e+11,2021-05-31 0:07
3,서울시,SDOT001,OC3CL200014,1,33.0,48.0,17.1,100,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,17.0,27.0,44.0,2.021050e+11,2021-05-31 0:07
4,서울시,SDOT001,OC3CL200028,1,25.0,38.0,16.5,100,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,37.0,2.021050e+11,2021-05-31 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123078,서울시,SDOT001,V02Q1940886,1,16.0,16.0,24.2,67,NaN,NaN,NaN,NaN,0.0,0.0,40.0,0.04,0.09,1.03,0.09,0.15,1.10,NaN,19.0,29.0,2.021060e+11,2021-06-06 23:07
123079,서울시,SDOT001,V02Q1940869,1,11.0,12.0,22.3,72,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.11,1.08,0.06,0.17,1.14,19.7,16.0,22.0,2.021060e+11,2021-06-06 23:07
123080,서울시,SDOT001,V02Q1940884,1,24.0,25.0,23.2,70,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.03,1.03,0.06,0.11,1.09,NaN,22.0,35.0,2.021060e+11,2021-06-06 23:07
123081,서울시,SDOT001,V02Q1940871,1,13.0,13.0,24.4,70,NaN,NaN,NaN,NaN,0.0,0.0,49.0,0.03,0.02,1.03,0.08,0.15,1.10,21.4,17.0,24.0,2.021060e+11,2021-06-06 23:07
123082,서울시,SDOT001,V02Q1940872,1,23.0,24.0,22.4,72,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.03,0.11,1.12,0.08,0.16,1.18,NaN,21.0,26.0,2.021060e+11,2021-06-06 23:07

In [ ]:
result_2109 = pd.concat([b01, b02, b03, b04, b05],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2105")

## 2021년 6월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_06/S-DoT_NATURE_2021.06.07-06.13.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200099,1,15,24,22.6,71,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,32,2.021060e+11,2021-06-07 0:07
1,서울시,SDOT001,V02Q1940149,1,20,20,23.2,74,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.05,0.05,1.03,0.10,0.12,1.12,NaN,18,28,2.021060e+11,2021-06-07 0:07
2,서울시,SDOT001,V02Q1940176,1,16,16,21.9,74,NaN,NaN,NaN,NaN,138.0,0.0,40.0,0.02,0.03,1.05,0.07,0.12,1.12,NaN,17,25,2.021060e+11,2021-06-07 0:07
3,서울시,SDOT001,V02Q1940168,1,18,18,22.0,74,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.04,0.01,0.98,0.09,0.13,1.08,NaN,19,27,2.021060e+11,2021-06-07 0:07
4,서울시,SDOT001,V02Q1940198,1,13,13,22.0,72,NaN,NaN,NaN,NaN,2.0,0.0,50.0,0.01,0.02,1.08,0.06,0.15,1.14,NaN,15,23,2.021060e+11,2021-06-07 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113247,서울시,SDOT001,V02Q1940955,1,11,11,24.6,71,NaN,NaN,NaN,NaN,0.0,0.0,39.0,0.01,0.07,1.03,0.05,0.13,1.10,NaN,8,13,2.021060e+11,2021-06-13 23:07
113248,서울시,SDOT001,V02Q1940954,1,6,6,25.9,64,NaN,NaN,NaN,NaN,10.0,0.0,56.0,0.06,0.08,1.01,0.10,0.13,1.10,NaN,6,9,2.021060e+11,2021-06-13 23:07
113249,서울시,SDOT001,V02Q1940935,1,11,11,25.5,66,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,11,2.021060e+11,2021-06-13 23:07
113250,서울시,SDOT001,V02Q1940943,1,12,13,24.4,69,NaN,NaN,NaN,NaN,0.0,0.0,40.0,0.02,0.08,1.03,0.08,0.14,1.09,NaN,16,18,2.021060e+11,2021-06-13 23:07
113251,서울시,SDOT001,V02Q1940950,1,8,8,27.1,60,NaN,NaN,NaN,NaN,7.0,0.0,36.0,0.01,0.11,0.98,0.05,0.16,1.08,NaN,10,13,2.021060e+11,2021-06-13 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_06/S-DoT_NATURE_2021.06.14-06.20.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,9,14,20.2,93.0,NaN,NaN,NaN,NaN,NaN,1.3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,19.5,10,19,2.021060e+11,2021-06-14 0:07
1,서울시,SDOT001,OC3CL200011,1,4,7,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,19.9,5,11,2.021060e+11,2021-06-14 0:07
2,서울시,SDOT001,OC3CL200019,1,8,13,23.9,71.0,NaN,NaN,NaN,NaN,NaN,0.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,21.1,13,20,2.021060e+11,2021-06-14 0:07
3,서울시,SDOT001,OC3CL200027,1,11,17,22.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,19,2.021060e+11,2021-06-14 0:07
4,서울시,SDOT001,OC3CL200021,1,11,17,23.9,69.0,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,19,2.021060e+11,2021-06-14 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165946,서울시,SDOT001,V02Q1940949,1,44,45,23.2,74.0,NaN,NaN,NaN,NaN,118.0,0.0,46.0,0.01,0.02,1.05,0.05,0.13,1.13,NaN,43,54,2.021060e+11,2021-06-20 23:07
165947,서울시,SDOT001,V02Q1941006,1,27,42,22.1,80.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,58,2.021060e+11,2021-06-20 23:07
165948,서울시,SDOT001,V02Q1940950,1,62,63,23.4,74.0,NaN,NaN,NaN,NaN,8.0,0.0,37.0,0.01,0.11,0.97,0.06,0.16,1.05,NaN,56,75,2.021060e+11,2021-06-20 23:07
165949,서울시,SDOT001,V02Q1941013,1,6,6,22.0,80.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9,2.021060e+11,2021-06-20 23:07
165950,서울시,SDOT001,V02Q1940954,1,71,71,23.0,74.0,NaN,NaN,NaN,NaN,10.0,0.0,56.0,0.06,0.08,1.02,0.10,0.13,1.10,NaN,58,65,2.021060e+11,2021-06-20 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_06/S-DoT_NATURE_2021.06.21-06.27.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200022,1,57,82,21.9,80.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,80,2.021060e+11,2021-06-21 0:07
1,서울시,SDOT001,OC3CL200020,1,46,69,21.5,86.0,NaN,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,73,2.021060e+11,2021-06-21 0:07
2,서울시,SDOT001,OC3CL200023,1,64,95,22.1,78.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,85,2.021060e+11,2021-06-21 0:07
3,서울시,SDOT001,OC3CL200013,1,41,63,21.4,91.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,20.3,44,70,2.021060e+11,2021-06-21 0:07
4,서울시,SDOT001,OC3CL200019,1,52,76,21.4,88.0,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,20.1,48,71,2.021060e+11,2021-06-21 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181069,서울시,SDOT001,V02Q1941015,1,5,9,24.7,81.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,13,2.021060e+11,2021-06-27 23:07
181070,서울시,SDOT001,V02Q1941013,1,1,1,26.7,67.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2.021060e+11,2021-06-27 23:07
181071,서울시,SDOT001,V02Q1941000,1,6,8,25.3,70.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,14,2.021060e+11,2021-06-27 23:07
181072,서울시,SDOT001,V02Q1941006,1,3,4,23.5,83.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,7,2.021060e+11,2021-06-27 23:07
181073,서울시,SDOT001,V02Q1940954,1,12,13,25.0,76.0,NaN,NaN,NaN,NaN,10.0,0.0,56.0,0.06,0.08,1.01,0.1,0.13,1.1,NaN,25,24,2.021060e+11,2021-06-27 23:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_06/S-DoT_NATURE_2021.06.28-07.04.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200023,1,23,34,23.8,91.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,25,2.021060e+11,2021-06-28 0:07
1,서울시,SDOT001,OC3CL200021,1,26,38,23.4,93.0,NaN,NaN,NaN,NaN,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,24,2.021060e+11,2021-06-28 0:07
2,서울시,SDOT001,OC3CL200011,1,9,17,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,19.9,9,30,2.021060e+11,2021-06-28 0:07
3,서울시,SDOT001,OC3CL200014,1,16,23,23.7,99.0,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,22.7,15,22,2.021060e+11,2021-06-28 0:07
4,서울시,SDOT001,OC3CL200010,1,11,19,21.1,100.0,NaN,NaN,NaN,NaN,NaN,1.3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,20.6,13,28,2.021060e+11,2021-06-28 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182175,서울시,SDOT001,V02Q1940951,1,0,0,21.9,86.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.03,0.03,1.00,0.08,0.12,1.10,NaN,0,0,2.021070e+11,2021-07-04 23:07
182176,서울시,SDOT001,V02Q1940954,1,1,1,22.4,80.0,NaN,NaN,NaN,NaN,10.0,0.0,56.0,0.06,0.08,1.02,0.10,0.13,1.11,NaN,1,1,2.021070e+11,2021-07-04 23:07
182177,서울시,SDOT001,V02Q1941015,1,1,2,21.8,86.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,2.021070e+11,2021-07-04 23:07
182178,서울시,SDOT001,V02Q1941006,1,1,2,21.6,86.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,2.021070e+11,2021-07-04 23:07
182179,서울시,SDOT001,V02Q1941000,1,3,4,21.6,87.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,2.021070e+11,2021-07-04 23:07

In [ ]:
result_2109 = pd.concat([b01, b02, b03, b04],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2106")

## 2021년 7월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_07/S-DoT_NATURE_2021.07.05-07.11.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200025,1,0,1,20.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.021070e+11,2021-07-05 0:07
1,서울시,SDOT001,OC3CL200023,1,0,1,21.5,94.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2.021070e+11,2021-07-05 0:07
2,서울시,SDOT001,OC3CL200016,1,1,3,21.8,96.0,NaN,NaN,NaN,NaN,NaN,0.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,2,4,2.021070e+11,2021-07-05 0:07
3,서울시,SDOT001,OC3CL200012,1,4,7,21.8,100.0,NaN,NaN,NaN,NaN,NaN,0.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,21.1,5,9,2.021070e+11,2021-07-05 0:07
4,서울시,SDOT001,OC3CL200030,1,4,6,20.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,7,2.021070e+11,2021-07-05 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181992,서울시,SDOT001,V02Q1940955,1,10,10,26.7,79.0,NaN,NaN,NaN,NaN,0.0,0.0,38.0,0.01,0.07,1.03,0.05,0.13,1.10,NaN,16,17,2.021070e+11,2021-07-11 23:07
181993,서울시,SDOT001,V02Q1940953,1,9,9,26.2,77.0,NaN,NaN,NaN,NaN,4.0,0.0,47.0,0.08,0.05,0.97,0.13,0.11,1.06,NaN,16,16,2.021070e+11,2021-07-11 23:07
181994,서울시,SDOT001,V02Q1940954,1,7,7,27.8,74.0,NaN,NaN,NaN,NaN,9.0,0.0,56.0,0.05,0.08,1.01,0.10,0.13,1.10,NaN,10,13,2.021070e+11,2021-07-11 23:07
181995,서울시,SDOT001,V02Q1941013,1,2,2,28.6,78.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3,2.021070e+11,2021-07-11 23:07
181996,서울시,SDOT001,V02Q1941006,1,2,4,27.4,80.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,7,2.021070e+11,2021-07-11 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_07/S-DoT_NATURE_2021.07.12-07.18.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200022,1,6,9,25.1,91,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,17,2.021070e+11,2021-07-12 0:07
1,서울시,SDOT001,OC3CL200016,1,6,9,25.5,96,NaN,NaN,NaN,NaN,NaN,0.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,8,14,2.021070e+11,2021-07-12 0:07
2,서울시,SDOT001,OC3CL200014,1,8,13,26.3,99,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,24.9,12,18,2.021070e+11,2021-07-12 0:07
3,서울시,SDOT001,OC3CL200023,1,7,11,25.6,86,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,18,2.021070e+11,2021-07-12 0:07
4,서울시,SDOT001,OC3CL200011,1,9,19,21.6,88,NaN,NaN,NaN,NaN,NaN,0.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,20.6,14,33,2.021070e+11,2021-07-12 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170381,서울시,SDOT001,V02Q1940847,1,0,0,30.2,63,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.02,0.04,1.04,0.08,0.11,1.13,NaN,0,0,2.021070e+11,2021-07-18 23:07
170382,서울시,SDOT001,V02Q1940866,1,0,1,30.5,62,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.02,0.08,1.05,0.07,0.13,1.13,27.9,0,1,2.021070e+11,2021-07-18 23:07
170383,서울시,SDOT001,V02Q1940868,1,0,0,30.9,60,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.01,0.05,1.04,0.06,0.12,1.12,26.2,0,0,2.021070e+11,2021-07-18 23:07
170384,서울시,SDOT001,V02Q1940871,1,0,0,30.9,61,NaN,NaN,NaN,NaN,0.0,0.0,48.0,0.04,0.02,1.03,0.09,0.12,1.11,26.4,0,0,2.021070e+11,2021-07-18 23:07
170385,서울시,SDOT001,V02Q1940873,1,1,1,30.1,63,NaN,NaN,NaN,NaN,0.0,0.0,39.0,0.02,0.02,0.99,0.08,0.12,1.09,NaN,1,1,2.021070e+11,2021-07-18 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_07/S-DoT_NATURE_2021.07.19-07.25.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200057,1,0,0,25.1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021070e+11,2021-07-19 0:07
1,서울시,SDOT001,OC3CL200055,1,0,1,28.1,69.0,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2.021070e+11,2021-07-19 0:07
2,서울시,SDOT001,OC3CL200090,1,0,1,28.9,62.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2.021070e+11,2021-07-19 0:07
3,서울시,SDOT001,OC3CL200109,1,0,0,23.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021070e+11,2021-07-19 0:07
4,서울시,SDOT001,OC3CL200092,1,0,1,28.7,68.0,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2.021070e+11,2021-07-19 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166781,서울시,SDOT001,V02Q1941015,1,1,2,32.3,57.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,2.021070e+11,2021-07-25 23:07
166782,서울시,SDOT001,V02Q1941013,1,1,1,33.4,52.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2.021070e+11,2021-07-25 23:07
166783,서울시,SDOT001,V02Q1940950,1,5,5,33.4,52.0,NaN,NaN,NaN,NaN,9.0,0.0,37.0,0.01,0.11,0.98,0.06,0.17,1.08,NaN,7,7,2.021070e+11,2021-07-25 23:07
166784,서울시,SDOT001,V02Q1941000,1,5,6,32.5,54.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,12,2.021070e+11,2021-07-25 23:07
166785,서울시,SDOT001,V02Q1940955,1,9,9,32.2,55.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.01,0.08,1.03,0.04,0.14,1.10,NaN,10,14,2.021070e+11,2021-07-25 23:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_07/S-DoT_NATURE_2021.07.26-08.01.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200011,1,4,7,21.6,88,NaN,NaN,NaN,NaN,NaN,0.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,21.5,6,11,2.021070e+11,2021-07-26 0:07
1,서울시,SDOT001,OC3CL200012,1,11,16,31.9,55,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,26.8,11,17,2.021070e+11,2021-07-26 0:07
2,서울시,SDOT001,OC3CL200014,1,5,8,31.9,54,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,26.7,7,14,2.021070e+11,2021-07-26 0:07
3,서울시,SDOT001,OC3CL200024,1,7,10,31.3,53,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,13,2.021070e+11,2021-07-26 0:07
4,서울시,SDOT001,OC3CL200017,1,7,11,31.3,59,NaN,NaN,NaN,NaN,NaN,0.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,26.5,10,15,2.021070e+11,2021-07-26 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182537,서울시,SDOT001,V02Q1940952,1,6,6,25.9,90,NaN,NaN,NaN,NaN,12.0,0.0,43.0,0.02,0.14,1.01,0.07,0.18,1.08,NaN,8,9,2.021080e+11,2021-08-01 23:07
182538,서울시,SDOT001,V02Q1941013,1,0,0,26.0,94,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2.021080e+11,2021-08-01 23:07
182539,서울시,SDOT001,V02Q1941006,1,1,1,26.0,90,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2.021080e+11,2021-08-01 23:07
182540,서울시,SDOT001,V02Q1941000,1,5,6,26.3,88,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,11,2.021080e+11,2021-08-01 23:07
182541,서울시,SDOT001,V02Q1941015,1,1,3,25.8,91,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,2.021080e+11,2021-08-01 23:07

In [ ]:
result_2109 = pd.concat([b01, b02, b03, b04],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2107")

## 2021년 8월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_08/S-DoT_NATURE_2021.08.02-08.08.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,2,3,25.2,100.0,NaN,NaN,NaN,NaN,NaN,1.3,37.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0,2,5,2.021080e+11,2021-08-02 0:07
1,서울시,SDOT001,OC3CL200012,1,10,15,25.1,100.0,NaN,NaN,NaN,NaN,NaN,0.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,23.8,7,12,2.021080e+11,2021-08-02 0:07
2,서울시,SDOT001,OC3CL200018,1,8,12,25.0,100.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,23.9,9,13,2.021080e+11,2021-08-02 0:07
3,서울시,SDOT001,OC3CL200024,1,3,5,24.6,100.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,7,2.021080e+11,2021-08-02 0:07
4,서울시,SDOT001,OC3CL200014,1,5,7,25.7,100.0,NaN,NaN,NaN,NaN,NaN,0.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,24.2,7,10,2.021080e+11,2021-08-02 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180061,서울시,SDOT001,V02Q1941013,1,0,0,26.9,79.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021080e+11,2021-08-08 23:07
180062,서울시,SDOT001,V02Q1940954,1,2,3,29.3,58.0,NaN,NaN,NaN,NaN,9.0,0.0,55.0,0.05,0.08,1.01,0.10,0.13,1.12,NaN,3,4,2.021080e+11,2021-08-08 23:07
180063,서울시,SDOT001,V02Q1940953,1,1,1,28.2,64.0,NaN,NaN,NaN,NaN,3.0,0.0,46.0,0.07,0.05,0.97,0.12,0.11,1.05,NaN,1,1,2.021080e+11,2021-08-08 23:07
180064,서울시,SDOT001,V02Q1941006,1,0,1,25.4,85.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.021080e+11,2021-08-08 23:07
180065,서울시,SDOT001,V02Q1941015,1,0,1,28.2,64.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2.021080e+11,2021-08-08 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_08/S-DoT_NATURE_2021.08.09-08.15.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,0.0,1.0,24.2,97.0,NaN,NaN,NaN,NaN,NaN,1.3,35.0,NaN,NaN,NaN,NaN,NaN,NaN,23.0,0.0,1.0,2.021080e+11,2021-08-09 0:07
1,서울시,SDOT001,OC3CL200011,1,0.0,0.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,20.8,0.0,0.0,2.021080e+11,2021-08-09 0:07
2,서울시,SDOT001,OC3CL200015,1,0.0,1.0,27.4,62.0,NaN,NaN,NaN,NaN,NaN,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,23.5,0.0,2.0,2.021080e+11,2021-08-09 0:07
3,서울시,SDOT001,OC3CL200018,1,1.0,2.0,27.8,61.0,NaN,NaN,NaN,NaN,NaN,0.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,23.8,1.0,4.0,2.021080e+11,2021-08-09 0:07
4,서울시,SDOT001,OC3CL200029,1,1.0,2.0,26.8,73.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,2.021080e+11,2021-08-09 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135639,서울시,SDOT001,V02Q1940378,1,12.0,12.0,28.2,55.0,NaN,NaN,NaN,NaN,2.0,0.0,41.0,0.02,0.02,1.05,0.08,0.14,1.13,NaN,12.0,17.0,2.021080e+11,2021-08-15 23:07
135640,서울시,SDOT001,V02Q1940417,1,14.0,14.0,27.9,57.0,NaN,NaN,NaN,NaN,75.0,0.0,38.0,0.05,0.04,1.02,0.10,0.12,1.10,NaN,16.0,19.0,2.021080e+11,2021-08-15 23:07
135641,서울시,SDOT001,V02Q1940435,1,17.0,17.0,28.9,52.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.05,0.02,0.99,0.13,0.12,1.09,NaN,17.0,21.0,2.021080e+11,2021-08-15 23:07
135642,서울시,SDOT001,V02Q1940469,1,13.0,14.0,29.2,53.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.03,0.05,1.02,0.08,0.12,1.10,NaN,15.0,18.0,2.021080e+11,2021-08-15 23:07
135643,서울시,SDOT001,V02Q1940476,1,18.0,18.0,28.7,52.0,NaN,NaN,NaN,NaN,1.0,0.0,48.0,0.02,0.02,1.03,0.07,0.13,1.09,NaN,14.0,17.0,2.021080e+11,2021-08-15 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_08/S-DoT_NATURE_2021.08.16-08.22.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200049,1,9,13,24.6,73.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,16,2.021080e+11,2021-08-16 0:07
1,서울시,SDOT001,OC3CL200147,1,8,12,26.5,57.0,45.0,0.6,47.3,1.4,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,14,2.021080e+11,2021-08-16 0:07
2,서울시,SDOT001,V02Q1940305,1,8,8,27.9,56.0,NaN,NaN,NaN,NaN,3.0,0.0,44.0,0.02,0.07,1.02,0.08,0.14,1.10,NaN,12,16,2.021080e+11,2021-08-16 0:07
3,서울시,SDOT001,V02Q1940320,1,11,11,27.1,60.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.04,0.02,1.08,0.09,0.12,1.15,NaN,11,16,2.021080e+11,2021-08-16 0:07
4,서울시,SDOT001,V02Q1940336,1,15,15,27.6,56.0,NaN,NaN,NaN,NaN,1.0,0.0,39.0,0.07,0.02,1.06,0.13,0.11,1.14,NaN,13,15,2.021080e+11,2021-08-16 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121925,서울시,SDOT001,V02Q1941000,1,14,18,25.2,78.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,28,2.021080e+11,2021-08-22 23:08
121926,서울시,SDOT001,V02Q1940885,1,22,22,24.6,79.0,NaN,NaN,NaN,NaN,3.0,0.0,44.0,0.06,0.03,1.00,0.10,0.12,1.10,NaN,27,31,2.021080e+11,2021-08-22 23:08
121927,서울시,SDOT001,V02Q1940883,1,20,20,23.0,89.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.01,0.11,1.00,0.05,0.16,1.11,NaN,21,25,2.021080e+11,2021-08-22 23:08
121928,서울시,SDOT001,V02Q1940884,1,40,40,25.6,73.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.02,0.03,1.02,0.07,0.11,1.09,NaN,39,43,2.021080e+11,2021-08-22 23:08
121929,서울시,SDOT001,V02Q1940954,1,19,19,25.9,71.0,NaN,NaN,NaN,NaN,9.0,0.0,56.0,0.06,0.08,1.01,0.10,0.13,1.11,NaN,21,27,2.021080e+11,2021-08-22 23:08

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_08/S-DoT_NATURE_2021.08.23-08.29.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200011,1,9,17,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,46.0,NaN,NaN,NaN,NaN,NaN,NaN,20.1,14,26,2.021080e+11,2021-08-23 0:07
1,서울시,SDOT001,OC3CL200026,1,23,34,-40.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,35,2.021080e+11,2021-08-23 0:07
2,서울시,SDOT001,OC3CL200015,1,21,32,24.8,85.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,22.8,20,31,2.021080e+11,2021-08-23 0:07
3,서울시,SDOT001,OC3CL200023,1,21,32,24.2,88.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,31,2.021080e+11,2021-08-23 0:07
4,서울시,SDOT001,OC3CL200022,1,15,23,24.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,27,2.021080e+11,2021-08-23 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119569,서울시,SDOT001,V02Q1940952,1,14,15,25.0,79.0,NaN,NaN,NaN,NaN,11.0,0.0,43.0,0.02,0.13,1.01,0.08,0.19,1.10,NaN,18,29,2.021080e+11,2021-08-28 23:07
119570,서울시,SDOT001,V02Q1940954,1,11,11,25.5,75.0,NaN,NaN,NaN,NaN,9.0,0.0,56.0,0.06,0.08,1.01,0.10,0.13,1.11,NaN,10,21,2.021080e+11,2021-08-28 23:07
119571,서울시,SDOT001,V02Q1940951,1,14,14,25.4,77.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.03,0.03,1.01,0.09,0.11,1.11,NaN,18,24,2.021080e+11,2021-08-28 23:07
119572,서울시,SDOT001,V02Q1941006,1,1,2,25.0,79.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,2.021080e+11,2021-08-28 23:07
119573,서울시,SDOT001,V02Q1941015,1,2,5,25.0,79.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,6,2.021080e+11,2021-08-28 23:07

In [ ]:
a05 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_08/S-DoT_NATURE_2021.08.30-09.05.csv')
b05 = pd.read_csv(a05, encoding='euc-kr')
b05

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200011,1,8,18,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,46.0,NaN,NaN,NaN,NaN,NaN,NaN,20.1,11,25,2.021080e+11,2021-08-30 0:07
1,서울시,SDOT001,OC3CL200026,1,13,19,23.3,82.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,25,2.021080e+11,2021-08-30 0:07
2,서울시,SDOT001,OC3CL200023,1,18,28,24.3,94.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,28,2.021080e+11,2021-08-30 0:07
3,서울시,SDOT001,OC3CL200019,1,10,15,23.7,100.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,22.6,15,22,2.021080e+11,2021-08-30 0:07
4,서울시,SDOT001,OC3CL200025,1,16,25,23.2,82.0,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,27,2.021080e+11,2021-08-30 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82999,서울시,SDOT001,V02Q1940856,1,0,0,30.3,41.0,NaN,NaN,NaN,NaN,15093.0,0.5,40.0,0.01,0.03,1.06,0.05,0.13,1.13,NaN,0,0,2.021090e+11,2021-09-04 16:08
83000,서울시,SDOT001,V02Q1940947,1,0,0,31.4,37.0,NaN,NaN,NaN,NaN,26346.0,1.0,53.0,0.02,0.05,1.01,0.08,0.11,1.08,NaN,0,0,2.021090e+11,2021-09-04 16:08
83001,서울시,SDOT001,V02Q1940945,1,0,0,31.8,36.0,NaN,NaN,NaN,NaN,39650.0,1.8,51.0,0.01,0.06,1.01,0.05,0.12,1.10,NaN,1,1,2.021090e+11,2021-09-04 16:08
83002,서울시,SDOT001,V02Q1940953,1,0,0,29.1,42.0,NaN,NaN,NaN,NaN,12244.0,0.4,50.0,0.07,0.05,0.96,0.11,0.10,1.05,NaN,1,0,2.021090e+11,2021-09-04 16:08
83003,서울시,SDOT001,V02Q1940876,1,0,0,30.2,43.0,NaN,NaN,NaN,NaN,13372.0,0.5,48.0,0.02,0.03,1.02,0.08,0.11,1.08,NaN,0,0,2.021090e+11,2021-09-04 16:08

In [ ]:
result_2109 = pd.concat([b01, b02, b03, b04, b05],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2108")

## 2021년 9월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_09/S-DoT_NATURE_2021.09.06-09.12.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01.drop(columns = ['기관 명', '모델명'], inplace=True)
b01

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200011,1,0,0,21.6,88,NaN,NaN,NaN,NaN,NaN,1.3,45.0,NaN,NaN,NaN,NaN,NaN,NaN,19.9,0,0,2.021090e+11,2021-09-08 0:07
1,OC3CL200012,1,1,2,19.9,100,NaN,NaN,NaN,NaN,NaN,0.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,19.5,1,2,2.021090e+11,2021-09-08 0:07
2,OC3CL200013,1,0,0,20.0,100,NaN,NaN,NaN,NaN,NaN,1.1,45.0,NaN,NaN,NaN,NaN,NaN,NaN,19.6,0,0,2.021090e+11,2021-09-08 0:07
3,OC3CL200014,1,0,0,20.2,100,NaN,NaN,NaN,NaN,NaN,1.3,51.0,NaN,NaN,NaN,NaN,NaN,NaN,19.6,0,0,2.021090e+11,2021-09-08 0:07
4,OC3CL200016,1,0,1,20.3,100,NaN,NaN,NaN,NaN,NaN,0.8,35.0,NaN,NaN,NaN,NaN,NaN,NaN,19.7,0,2,2.021090e+11,2021-09-08 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113448,V02Q1940948,1,7,7,24.9,70,NaN,NaN,NaN,NaN,0.0,0.0,55.0,0.02,0.08,1.03,0.07,0.15,1.10,NaN,11,12,2.021090e+11,2021-09-12 23:07
113449,V02Q1940949,1,4,4,24.6,61,NaN,NaN,NaN,NaN,118.0,0.0,45.0,0.01,0.02,1.04,0.05,0.14,1.13,NaN,7,5,2.021090e+11,2021-09-12 23:07
113450,V02Q1940947,1,11,11,26.5,61,NaN,NaN,NaN,NaN,13.0,0.0,51.0,0.01,0.06,1.02,0.07,0.12,1.10,NaN,12,17,2.021090e+11,2021-09-12 23:07
113451,V02Q1940946,1,10,10,25.0,67,NaN,NaN,NaN,NaN,5.0,0.0,44.0,0.09,0.12,0.98,0.14,0.17,1.09,NaN,10,15,2.021090e+11,2021-09-12 23:07
113452,V02Q1940945,1,11,11,25.7,66,NaN,NaN,NaN,NaN,2.0,0.0,42.0,0.02,0.07,1.02,0.06,0.13,1.11,NaN,13,17,2.021090e+11,2021-09-12 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_09/S-DoT_NATURE_2021.09.13-09.19.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02.drop(columns = ['기관 명', '모델명'], inplace=True)
b02

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200026,1,9,13,22.8,75,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,19,2.021090e+11,2021-09-13 0:07
1,OC3CL200030,1,9,14,20.4,98,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,18,2.021090e+11,2021-09-13 0:07
2,OC3CL200018,1,8,13,22.5,91,NaN,NaN,NaN,NaN,NaN,0.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,21.2,10,17,2.021090e+11,2021-09-13 0:07
3,OC3CL200014,1,7,10,24.9,65,NaN,NaN,NaN,NaN,NaN,1.3,55.0,NaN,NaN,NaN,NaN,NaN,NaN,21.6,9,14,2.021090e+11,2021-09-13 0:07
4,OC3CL200031,1,7,10,21.7,90,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,12,2.021090e+11,2021-09-13 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183906,V02Q1940955,1,0,0,24.3,53,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.01,0.08,1.03,0.05,0.14,1.10,NaN,1,1,2.021090e+11,2021-09-19 23:07
183907,V02Q1940953,1,8,8,23.2,64,NaN,NaN,NaN,NaN,4.0,0.0,46.0,0.08,0.04,0.96,0.12,0.10,1.05,NaN,13,13,2.021090e+11,2021-09-19 23:07
183908,V02Q1940950,1,2,2,24.0,57,NaN,NaN,NaN,NaN,8.0,0.0,37.0,0.01,0.11,0.97,0.06,0.16,1.06,NaN,3,4,2.021090e+11,2021-09-19 23:07
183909,V02Q1940945,1,3,3,25.4,48,NaN,NaN,NaN,NaN,2.0,0.0,43.0,0.01,0.06,1.02,0.06,0.12,1.10,NaN,6,5,2.021090e+11,2021-09-19 23:07
183910,V02Q1940944,1,1,1,24.2,56,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.11,1.03,0.05,0.16,1.11,NaN,2,2,2.021090e+11,2021-09-19 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_09/S-DoT_NATURE_2021.09.20-09.26.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03.drop(columns = ['기관 명', '모델명'], inplace=True)
b03.columns

Index(['시리얼', '구분', '초미세먼지(㎍/㎥)', '미세먼지(㎍/㎥)', '기온(℃)', '상대습도( %)', '풍향(°)',
       '풍속(m/s)', '돌풍 풍향(°)', '돌풍 풍속(m/s)', '조도(lux)', '자외선(UVI)', '소음(dB)',
       '진동_x(g)', '진동_y(g)', '진동_z(g)', '진동_x 최대(g)', '진동_y 최대(g)',
       '진동_z 최대(g)', '흑구 운도(℃)', '초미세먼지 보정(㎍/㎥)', '미세먼지 보정(㎍/㎥)', '전송시간',
       '등록일자'],
      dtype='object')

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_09/S-DoT_NATURE_2021.09.27-10.03.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04.drop(columns = ['기관 명', '모델명'], inplace=True)
b04

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200028,1,0,1,22.6,62,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2.021090e+11,2021-09-27 0:07
1,OC3CL200020,1,0,0,22.2,64,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021090e+11,2021-09-27 0:07
2,OC3CL200029,1,0,0,21.8,64,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021090e+11,2021-09-27 0:07
3,OC3CL200013,1,0,0,21.9,61,NaN,NaN,NaN,NaN,NaN,0.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,18.8,0,0,2.021090e+11,2021-09-27 0:07
4,OC3CL200031,1,0,0,21.8,60,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021090e+11,2021-09-27 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52503,V02Q1940950,1,6,6,21.2,86,NaN,NaN,NaN,NaN,9.0,0.0,38.0,0.01,0.11,0.96,0.06,0.17,1.04,NaN,7,9,2.021090e+11,2021-09-28 23:07
52504,V02Q1940949,1,5,5,20.7,88,NaN,NaN,NaN,NaN,125.0,0.0,47.0,0.01,0.02,1.05,0.05,0.13,1.14,NaN,8,9,2.021090e+11,2021-09-28 23:07
52505,V02Q1940948,1,5,5,21.7,88,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.02,0.08,1.03,0.06,0.14,1.10,NaN,7,9,2.021090e+11,2021-09-28 23:07
52506,V02Q1940946,1,6,6,20.7,89,NaN,NaN,NaN,NaN,6.0,0.0,44.0,0.09,0.12,0.98,0.13,0.17,1.09,NaN,10,10,2.021090e+11,2021-09-28 23:07
52507,V02Q1940947,1,9,9,20.9,88,NaN,NaN,NaN,NaN,17.0,0.0,52.0,0.01,0.06,1.02,0.06,0.12,1.09,NaN,8,10,2.021090e+11,2021-09-28 23:07

In [ ]:
a05 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_09/S-DoT_NATURE_2021.09.30-10.05.csv')
b05 = pd.read_csv(a05, encoding='euc-kr')
b05.drop(columns = ['기관명', '모델명',  '일산화탄소', '이산화질소', '이산화황', '암모니아', '황화수소', '오존'], inplace=True)
b05.columns

Index(['시리얼', '구분', '초미세먼지(㎍/㎥)', '미세먼지(㎍/㎥)', '기온(℃)', '상대습도(%)', '풍향(°)',
       '풍속(m/s)', '돌풍 풍향(°)', '돌풍 풍속(m/s)', '조도(lux)', '자외선(UVI)', '소음(dB)',
       '진동_(x)(g)', '진동_(y)(g)', '진동_(z)(g)', '진동_x 최대(g))', '진동_y 최대(g)',
       '진동_z 최대(g)', '흑구 온도(℃)', '초미세먼지 보정(㎍/㎥)', '미세먼지 보정(㎍/㎥)', '전송시간',
       '등록 일자'],
      dtype='object')

In [ ]:
Index(['시리얼', '구분', '초미세먼지(㎍/㎥)', '미세먼지(㎍/㎥)', '기온(℃)', '상대습도( %)', '풍향(°)',
       '풍속(m/s)', '돌풍 풍향(°)', '돌풍 풍속(m/s)', '조도(lux)', '자외선(UVI)', '소음(dB)',
       '진동_x(g)', '진동_y(g)', '진동_z(g)', '진동_x 최대(g)', '진동_y 최대(g)',
       '진동_z 최대(g)', '흑구 운도(℃)', '초미세먼지 보정(㎍/㎥)', '미세먼지 보정(㎍/㎥)', '전송시간',
       '등록일자']

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도(%),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_(x)(g),진동_(y)(g),진동_(z)(g),진동_x 최대(g)),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록 일자
0,OC3CL200011,1,0.0,2.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,46.0,NaN,NaN,NaN,NaN,NaN,NaN,19.3,0.0,4.0,2.021090e+11,2021-09-30 1:03
1,OC3CL200012,1,6.0,10.0,19.4,100.0,NaN,NaN,NaN,NaN,NaN,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,18.9,5.0,11.0,2.021090e+11,2021-09-30 1:03
2,OC3CL200013,1,1.0,2.0,17.3,100.0,NaN,NaN,NaN,NaN,NaN,1.8,45.0,NaN,NaN,NaN,NaN,NaN,NaN,17.2,2.0,4.0,2.021090e+11,2021-09-30 1:03
3,OC3CL200014,1,4.0,7.0,20.0,100.0,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,19.5,6.0,13.0,2.021090e+11,2021-09-30 1:03
4,OC3CL200016,1,4.0,7.0,19.9,100.0,NaN,NaN,NaN,NaN,NaN,0.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,19.3,6.0,13.0,2.021090e+11,2021-09-30 1:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157194,V02Q1940955,1,7.0,7.0,24.2,78.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.01,0.07,1.03,0.05,0.14,1.1,NaN,7.0,12.0,2.021100e+11,2021-10-06 0:03
157195,V02Q1941000,1,8.0,22.0,24.0,81.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,29.0,2.021100e+11,2021-10-06 0:03
157196,V02Q1941006,1,1.0,2.0,23.3,84.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.021100e+11,2021-10-06 0:03
157197,V02Q1941013,1,0.0,0.0,24.4,79.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021100e+11,2021-10-06 0:03
157198,V02Q1941015,1,0.0,1.0,23.1,82.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021100e+11,2021-10-06 0:03

In [ ]:
rename_dot = b05.rename(columns={'상대습도(%)':'상대습도( %)',	'진동_(x)(g)':'진동_x(g)', '진동_(y)(g)' :'진동_y(g)',	'진동_(z)(g)' :'진동_z(g)', 	'진동_x 최대(g))' : '진동_x 최대(g)', '흑구 온도(℃)' : '흑구 운도(℃)',	'등록 일자' : '등록일자'})

In [ ]:
result_2109 = pd.concat([b01, b02, b03, b04, rename_dot],ignore_index=True)
result_2109

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자,상대습도(%),진동_(x)(g),진동_(y)(g),진동_(z)(g),진동_x 최대(g)),흑구 온도(℃),등록 일자
0,서울시,SDOT001,OC3CL200135,1,2.0,3.0,9.9,51.0,345.0,0.7,230.0,1.4,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,2.021040e+11,2021-04-05 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울시,SDOT001,OC3CL200147,1,3.0,6.0,9.9,54.0,43.0,0.2,46.4,0.6,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,2.021040e+11,2021-04-05 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울시,SDOT001,OC3CL200142,1,3.0,5.0,9.5,49.0,34.0,0.7,98.8,2.1,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,2.021040e+11,2021-04-05 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울시,SDOT001,OC3CL200132,1,2.0,4.0,5.8,81.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,2.021040e+11,2021-04-05 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울시,SDOT001,OC3CL200145,1,2.0,5.0,9.5,54.0,97.0,0.3,113.0,0.7,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.021040e+11,2021-04-05 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850374,서울시,SDOT001,V02Q1940955,1,7.0,7.0,12.3,64.0,NaN,NaN,NaN,NaN,0.0,0.0,41.0,0.02,0.06,1.02,0.06,0.13,1.12,NaN,12.0,9.0,2.020000e+13,2021-05-03 0:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850375,서울시,SDOT001,V02Q1941000,1,11.0,15.0,12.3,70.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,22.0,2.020000e+13,2021-05-03 0:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850376,서울시,SDOT001,V02Q1941006,1,12.0,19.0,12.4,72.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,25.0,2.020000e+13,2021-05-03 0:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850377,서울시,SDOT001,V02Q1941013,1,10.0,10.0,12.6,72.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,18.0,2.020000e+13,2021-05-03 0:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850378,서울시,SDOT001,V02Q1941015,1,1.0,3.0,12.8,68.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.020000e+13,2021-05-03 0:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2021년 10월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_10/S-DoT_NATURE_2021.10.04-10.10.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200011,1,1.0,4.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,20.8,3.0,7.0,2.021100e+11,2021-10-05 18:07
1,서울시,SDOT001,OC3CL200021,1,7.0,13.0,25.4,74.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,22.0,2.021100e+11,2021-10-05 18:07
2,서울시,SDOT001,OC3CL200013,1,4.0,8.0,24.2,100.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,23.1,6.0,15.0,2.021100e+11,2021-10-05 18:07
3,서울시,SDOT001,OC3CL200031,1,3.0,7.0,24.2,100.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,2.021100e+11,2021-10-05 18:07
4,서울시,SDOT001,OC3CL200024,1,4.0,11.0,25.5,72.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,21.0,2.021100e+11,2021-10-05 18:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127519,서울시,SDOT001,V02Q1941000,1,9.0,23.0,16.9,78.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,32.0,2.021100e+11,2021-10-10 23:07
127520,서울시,SDOT001,V02Q1940955,1,6.0,7.0,16.9,77.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.07,1.03,0.05,0.13,1.10,NaN,9.0,10.0,2.021100e+11,2021-10-10 23:07
127521,서울시,SDOT001,V02Q1940949,1,5.0,5.0,16.6,84.0,NaN,NaN,NaN,NaN,124.0,0.0,49.0,0.01,0.02,1.05,0.05,0.14,1.13,NaN,9.0,7.0,2.021100e+11,2021-10-10 23:07
127522,서울시,SDOT001,V02Q1940948,1,5.0,5.0,17.6,78.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.02,0.07,1.03,0.06,0.14,1.10,NaN,10.0,10.0,2.021100e+11,2021-10-10 23:07
127523,서울시,SDOT001,V02Q1941013,1,0.0,0.0,15.0,95.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021100e+11,2021-10-10 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_10/S-DoT_NATURE_2021.10.11-10.17.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200031,1,0.0,0.0,17.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021100e+11,2021-10-12 0:07
1,서울시,SDOT001,OC3CL200029,1,1.0,2.0,17.3,90.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.021100e+11,2021-10-12 0:07
2,서울시,SDOT001,OC3CL200026,1,2.0,4.0,17.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6.0,2.021100e+11,2021-10-12 0:07
3,서울시,SDOT001,OC3CL200030,1,5.0,8.0,16.3,100.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,13.0,2.021100e+11,2021-10-12 0:07
4,서울시,SDOT001,OC3CL200028,1,0.0,1.0,17.7,72.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021100e+11,2021-10-12 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124243,서울시,SDOT001,V02Q1940951,1,1.0,2.0,6.9,41.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.04,0.99,0.07,0.11,1.10,NaN,3.0,3.0,2.021100e+11,2021-10-16 23:07
124244,서울시,SDOT001,V02Q1940950,1,0.0,0.0,7.8,32.0,NaN,NaN,NaN,NaN,9.0,0.0,40.0,0.01,0.10,0.96,0.06,0.16,1.02,NaN,0.0,0.0,2.021100e+11,2021-10-16 23:07
124245,서울시,SDOT001,V02Q1940949,1,0.0,0.0,7.2,33.0,NaN,NaN,NaN,NaN,124.0,0.0,45.0,0.01,0.04,1.05,0.05,0.12,1.13,NaN,0.0,0.0,2.021100e+11,2021-10-16 23:07
124246,서울시,SDOT001,V02Q1940947,1,2.0,2.0,7.5,36.0,NaN,NaN,NaN,NaN,15.0,0.0,48.0,0.01,0.07,1.02,0.05,0.13,1.09,NaN,3.0,3.0,2.021100e+11,2021-10-16 23:07
124247,서울시,SDOT001,V02Q1940948,1,1.0,1.0,7.5,36.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.01,0.05,1.05,0.06,0.12,1.11,NaN,2.0,1.0,2.021100e+11,2021-10-16 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_10/S-DoT_NATURE_2021.10.18-10.24.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200022,1,0.0,2.0,7.9,28.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,2.021100e+11,2021-10-18 0:07
1,서울시,SDOT001,OC3CL200020,1,0.0,1.0,7.7,30.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021100e+11,2021-10-18 0:07
2,서울시,SDOT001,OC3CL200023,1,2.0,4.0,8.1,27.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,2.021100e+11,2021-10-18 0:07
3,서울시,SDOT001,OC3CL200031,1,2.0,4.0,6.6,32.0,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7.0,2.021100e+11,2021-10-18 0:07
4,서울시,SDOT001,OC3CL200029,1,2.0,5.0,8.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7.0,2.021100e+11,2021-10-18 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173653,서울시,SDOT001,V02Q1940950,1,11.0,11.0,11.9,64.0,NaN,NaN,NaN,NaN,9.0,0.0,38.0,0.02,0.11,0.96,0.06,0.16,1.05,NaN,13.0,13.0,2.021100e+11,2021-10-24 23:07
173654,서울시,SDOT001,V02Q1940951,1,9.0,9.0,13.9,58.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.03,0.99,0.06,0.11,1.11,NaN,14.0,18.0,2.021100e+11,2021-10-24 23:07
173655,서울시,SDOT001,V02Q1940949,1,8.0,8.0,12.1,59.0,NaN,NaN,NaN,NaN,121.0,0.0,45.0,0.01,0.02,1.05,0.05,0.10,1.14,NaN,13.0,14.0,2.021100e+11,2021-10-24 23:07
173656,서울시,SDOT001,V02Q1940947,1,22.0,22.0,13.4,63.0,NaN,NaN,NaN,NaN,15.0,0.0,47.0,0.01,0.07,1.02,0.05,0.12,1.08,NaN,18.0,19.0,2.021100e+11,2021-10-24 23:07
173657,서울시,SDOT001,V02Q1940948,1,10.0,10.0,13.1,66.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.06,1.05,0.06,0.13,1.11,NaN,13.0,16.0,2.021100e+11,2021-10-24 23:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_10/S-DoT_NATURE_2021.10.25-10.31.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200027,1,8.0,14.0,10.7,63.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,22.0,2.021100e+11,2021-10-25 0:07
1,서울시,SDOT001,OC3CL200025,1,11.0,16.0,9.5,68.0,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,22.0,2.021100e+11,2021-10-25 0:07
2,서울시,SDOT001,OC3CL200023,1,11.0,17.0,11.7,75.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,20.0,2.021100e+11,2021-10-25 0:07
3,서울시,SDOT001,OC3CL200022,1,7.0,10.0,11.2,79.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,15.0,2.021100e+11,2021-10-25 0:07
4,서울시,SDOT001,OC3CL200019,1,6.0,10.0,11.1,68.0,NaN,NaN,NaN,NaN,NaN,0.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,9.6,13.0,15.0,2.021100e+11,2021-10-25 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172131,서울시,SDOT001,V02Q1940886,1,18.0,19.0,14.1,85.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.03,0.08,1.05,0.09,0.14,1.11,NaN,18.0,25.0,2.021100e+11,2021-10-31 23:07
172132,서울시,SDOT001,V02Q1941006,1,3.0,4.0,15.3,78.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,9.0,2.021100e+11,2021-10-31 23:07
172133,서울시,SDOT001,V02Q1941000,1,8.0,13.0,15.0,88.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,22.0,2.021100e+11,2021-10-31 23:07
172134,서울시,SDOT001,V02Q1941015,1,4.0,8.0,13.9,90.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,13.0,2.021100e+11,2021-10-31 23:07
172135,서울시,SDOT001,V02Q1940955,1,23.0,23.0,14.7,89.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.06,1.03,0.05,0.13,1.12,NaN,17.0,20.0,2.021100e+11,2021-10-31 23:07

In [ ]:
result_2110 = pd.concat([b01, b02, b03, b04],ignore_index=True)
result_2110.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2110.to_csv("2110")

## 2021년 11월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_11/S-DoT_NATURE_2021.11.01-11.07.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200016,1,26,37,14.2,100.0,NaN,NaN,NaN,NaN,NaN,0.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,14.4,23,34,2.021100e+11,2021-11-01 0:07
1,서울시,SDOT001,OC3CL200030,1,16,23,11.7,100.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,22,2.021100e+11,2021-11-01 0:07
2,서울시,SDOT001,OC3CL200028,1,24,35,13.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,32,2.021100e+11,2021-11-01 0:07
3,서울시,SDOT001,OC3CL200023,1,31,45,13.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,34,2.021100e+11,2021-11-01 0:07
4,서울시,SDOT001,OC3CL200013,1,22,32,11.7,100.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,12.3,25,39,2.021100e+11,2021-11-01 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169235,서울시,SDOT001,V02Q1940951,1,2,2,18.4,43.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.02,0.03,1.00,0.07,0.12,1.10,NaN,3,3,2.021110e+11,2021-11-07 23:07
169236,서울시,SDOT001,V02Q1940952,1,2,2,18.1,44.0,NaN,NaN,NaN,NaN,9.0,0.0,46.0,0.02,0.11,1.03,0.08,0.17,1.11,NaN,3,3,2.021110e+11,2021-11-07 23:07
169237,서울시,SDOT001,V02Q1940950,1,2,2,18.0,46.0,NaN,NaN,NaN,NaN,8.0,0.0,37.0,0.01,0.11,0.97,0.06,0.16,1.06,NaN,3,2,2.021110e+11,2021-11-07 23:07
169238,서울시,SDOT001,V02Q1940953,1,2,2,17.6,45.0,NaN,NaN,NaN,NaN,6.0,0.0,47.0,0.08,0.04,0.97,0.13,0.10,1.06,NaN,3,3,2.021110e+11,2021-11-07 23:07
169239,서울시,SDOT001,V02Q1940949,1,1,1,17.9,44.0,NaN,NaN,NaN,NaN,114.0,0.0,45.0,0.01,0.02,1.05,0.05,0.13,1.13,NaN,2,2,2.021110e+11,2021-11-07 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_11/S-DoT_NATURE_2021.11.08-11.14.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200031,1,0,1,16.8,50.0,NaN,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2.021110e+11,2021-11-08 0:07
1,서울시,SDOT001,OC3CL200030,1,1,2,15.1,64.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,2.021110e+11,2021-11-08 0:07
2,서울시,SDOT001,OC3CL200025,1,2,3,17.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5,2.021110e+11,2021-11-08 0:07
3,서울시,SDOT001,OC3CL200027,1,1,2,16.7,43.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,2.021110e+11,2021-11-08 0:07
4,서울시,SDOT001,OC3CL200029,1,12,18,17.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,32,2.021110e+11,2021-11-08 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24339,서울시,SDOT001,V02Q1940945,1,1,1,6.9,74.0,NaN,NaN,NaN,NaN,3.0,0.0,43.0,0.02,0.05,1.02,0.08,0.12,1.10,NaN,1,1,2.021110e+11,2021-11-08 23:07
24340,서울시,SDOT001,V02Q1940943,1,0,0,6.3,76.0,NaN,NaN,NaN,NaN,1.0,0.0,39.0,0.02,0.07,1.04,0.06,0.13,1.10,NaN,0,0,2.021110e+11,2021-11-08 23:07
24341,서울시,SDOT001,V02Q1940942,1,1,1,6.1,78.0,NaN,NaN,NaN,NaN,0.0,0.0,48.0,0.07,0.02,1.03,0.10,0.12,1.11,NaN,1,3,2.021110e+11,2021-11-08 23:07
24342,서울시,SDOT001,V02Q1941015,1,0,1,6.5,71.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2.021110e+11,2021-11-08 23:07
24343,서울시,SDOT001,V02Q1941013,1,0,0,6.5,82.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2.021110e+11,2021-11-08 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_11/S-DoT_NATURE_2021.11.15-11.21.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200013,1,19,31,9.0,100.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,9.8,26,45,2.021110e+11,2021-11-15 0:07
1,서울시,SDOT001,OC3CL200012,1,38,59,11.6,85.0,NaN,NaN,NaN,NaN,NaN,0.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,11.2,35,63,2.021110e+11,2021-11-15 0:07
2,서울시,SDOT001,OC3CL200014,1,27,43,11.7,99.0,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,12.2,30,54,2.021110e+11,2021-11-15 0:07
3,서울시,SDOT001,OC3CL200019,1,25,38,9.9,100.0,NaN,NaN,NaN,NaN,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,10.5,27,49,2.021110e+11,2021-11-15 0:07
4,서울시,SDOT001,OC3CL200024,1,32,52,12.1,81.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,66,2.021110e+11,2021-11-15 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171649,서울시,SDOT001,V02Q1940948,1,58,58,12.4,87.0,NaN,NaN,NaN,NaN,0.0,0.0,49.0,0.01,0.06,1.04,0.06,0.13,1.10,NaN,57,68,2.021110e+11,2021-11-21 23:07
171650,서울시,SDOT001,V02Q1940951,1,30,30,11.5,87.0,NaN,NaN,NaN,NaN,17.0,0.0,48.0,0.03,0.05,0.99,0.08,0.12,1.08,NaN,32,38,2.021110e+11,2021-11-21 23:07
171651,서울시,SDOT001,V02Q1941000,1,12,24,12.2,87.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,42,2.021110e+11,2021-11-21 23:07
171652,서울시,SDOT001,V02Q1941013,1,5,5,11.3,92.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,8,2.021110e+11,2021-11-21 23:07
171653,서울시,SDOT001,V02Q1940955,1,60,60,12.6,80.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.01,0.06,1.03,0.06,0.12,1.10,NaN,65,70,2.021110e+11,2021-11-21 23:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_11/S-DoT_NATURE_2021.11.16-11.22.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
b04

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200012,1,18,29,11.0,70.0,NaN,NaN,NaN,NaN,NaN,0.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,9.8,20,38,2.021110e+11,2021-11-16 0:07
1,서울시,SDOT001,OC3CL200011,1,9,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,25,2.021110e+11,2021-11-16 0:07
2,서울시,SDOT001,OC3CL200016,1,14,21,12.2,75.0,NaN,NaN,NaN,NaN,NaN,0.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,11.1,19,35,2.021110e+11,2021-11-16 0:07
3,서울시,SDOT001,OC3CL200019,1,10,16,9.4,85.0,NaN,NaN,NaN,NaN,NaN,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,9.2,15,27,2.021110e+11,2021-11-16 0:07
4,서울시,SDOT001,OC3CL200031,1,9,16,8.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,25,2.021110e+11,2021-11-16 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171232,서울시,SDOT001,V02Q1940954,1,8,8,2.1,55.0,NaN,NaN,NaN,NaN,0.0,0.0,57.0,0.07,0.09,1.04,0.12,0.14,1.10,NaN,12,14,2.021110e+11,2021-11-22 23:07
171233,서울시,SDOT001,V02Q1940953,1,6,6,2.2,56.0,NaN,NaN,NaN,NaN,4.0,0.0,48.0,0.08,0.02,0.97,0.13,0.10,1.06,NaN,9,10,2.021110e+11,2021-11-22 23:07
171234,서울시,SDOT001,V02Q1940952,1,11,12,2.6,57.0,NaN,NaN,NaN,NaN,11.0,0.0,45.0,0.02,0.11,1.04,0.07,0.17,1.11,NaN,11,22,2.021110e+11,2021-11-22 23:07
171235,서울시,SDOT001,V02Q1941015,1,3,6,1.7,59.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,11,2.021110e+11,2021-11-22 23:07
171236,서울시,SDOT001,V02Q1940955,1,7,7,1.7,59.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.03,0.06,1.02,0.08,0.13,1.10,NaN,10,12,2.021110e+11,2021-11-22 23:07

In [ ]:
a05 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_11/S-DoT_NATURE_2021.11.22-11.28.csv')
b05 = pd.read_csv(a05, encoding='euc-kr')
b05

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200012,1,11,16,9.7,100.0,NaN,NaN,NaN,NaN,NaN,0.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,10.5,12,16,2.021110e+11,2021-11-22 0:07
1,서울시,SDOT001,OC3CL200016,1,7,11,9.6,100.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,10.3,9,14,2.021110e+11,2021-11-22 0:07
2,서울시,SDOT001,OC3CL200013,1,6,9,8.1,100.0,NaN,NaN,NaN,NaN,NaN,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,8,11,2.021110e+11,2021-11-22 0:07
3,서울시,SDOT001,OC3CL200022,1,6,10,8.8,100.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,12,2.021110e+11,2021-11-22 0:07
4,서울시,SDOT001,OC3CL200026,1,8,11,8.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,17,2.021110e+11,2021-11-22 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168675,서울시,SDOT001,V02Q1940952,1,33,33,9.9,40.0,NaN,NaN,NaN,NaN,10.0,0.0,44.0,0.02,0.11,1.04,0.07,0.17,1.10,NaN,35,45,2.021110e+11,2021-11-28 23:07
168676,서울시,SDOT001,V02Q1940955,1,17,17,8.2,41.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.02,0.06,1.03,0.07,0.13,1.11,NaN,28,27,2.021110e+11,2021-11-28 23:07
168677,서울시,SDOT001,V02Q1941015,1,5,11,8.4,53.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,18,2.021110e+11,2021-11-28 23:07
168678,서울시,SDOT001,V02Q1941013,1,2,2,10.2,44.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,2.021110e+11,2021-11-28 23:07
168679,서울시,SDOT001,V02Q1941006,1,6,8,8.2,50.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,16,2.021110e+11,2021-11-28 23:07

In [ ]:
a06 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_11/S-DoT_NATURE_2021.11.29-12.05.csv')
b06 = pd.read_csv(a06, encoding='euc-kr')
b06

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200021,1,38.0,56.0,7.3,48.0,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,57.0,2.020000e+11,2021-11-29 0:07
1,서울시,SDOT001,OC3CL200014,1,27.0,40.0,7.9,46.0,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,5.3,33.0,47.0,2.020000e+11,2021-11-29 0:07
2,서울시,SDOT001,OC3CL200026,1,29.0,42.0,4.8,60.0,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,54.0,2.020000e+11,2021-11-29 0:07
3,서울시,SDOT001,OC3CL200018,1,34.0,50.0,5.5,70.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,4.7,37.0,57.0,2.020000e+11,2021-11-29 0:07
4,서울시,SDOT001,OC3CL200022,1,15.0,22.0,6.6,47.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,35.0,2.020000e+11,2021-11-29 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508993,서울시,SDOT001,V02Q1940955,3,17.0,17.0,5.8,50.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.02,0.06,1.02,0.06,0.11,1.08,NaN,25.0,28.0,2.020000e+11,2021-12-05 23:09
508994,서울시,SDOT001,V02Q1941013,3,0.0,0.0,7.6,46.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.020000e+11,2021-12-05 23:09
508995,서울시,SDOT001,V02Q1941006,3,4.0,5.0,5.4,50.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,8.0,2.020000e+11,2021-12-05 23:09
508996,서울시,SDOT001,V02Q1941015,3,3.0,6.0,5.8,49.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,8.0,2.020000e+11,2021-12-05 23:09
508997,서울시,SDOT001,V02Q1941000,3,4.0,7.0,5.7,50.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,11.0,2.020000e+11,2021-12-05 23:09

In [ ]:
result_2112 = pd.concat([b01, b02, b03, b04, b05, b06],ignore_index=True)
result_2112.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2112.to_csv("2111")

In [ ]:
result_2112

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200016,1,26,37,14.2,100.0,NaN,NaN,NaN,NaN,NaN,0.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,14.4,23,34,2.021100e+11,2021-11-01 0:07
1,OC3CL200030,1,16,23,11.7,100.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,22,2.021100e+11,2021-11-01 0:07
2,OC3CL200028,1,24,35,13.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,32,2.021100e+11,2021-11-01 0:07
3,OC3CL200023,1,31,45,13.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,34,2.021100e+11,2021-11-01 0:07
4,OC3CL200013,1,22,32,11.7,100.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,12.3,25,39,2.021100e+11,2021-11-01 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676955,V02Q1940951,1,2,2,18.4,43.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.02,0.03,1.00,0.07,0.12,1.10,NaN,3,3,2.021110e+11,2021-11-07 23:07
676956,V02Q1940952,1,2,2,18.1,44.0,NaN,NaN,NaN,NaN,9.0,0.0,46.0,0.02,0.11,1.03,0.08,0.17,1.11,NaN,3,3,2.021110e+11,2021-11-07 23:07
676957,V02Q1940950,1,2,2,18.0,46.0,NaN,NaN,NaN,NaN,8.0,0.0,37.0,0.01,0.11,0.97,0.06,0.16,1.06,NaN,3,2,2.021110e+11,2021-11-07 23:07
676958,V02Q1940953,1,2,2,17.6,45.0,NaN,NaN,NaN,NaN,6.0,0.0,47.0,0.08,0.04,0.97,0.13,0.10,1.06,NaN,3,3,2.021110e+11,2021-11-07 23:07
676959,V02Q1940949,1,1,1,17.9,44.0,NaN,NaN,NaN,NaN,114.0,0.0,45.0,0.01,0.02,1.05,0.05,0.13,1.13,NaN,2,2,2.021110e+11,2021-11-07 23:07

## 2021년 12월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_12/S-DoT_NATURE_2021.12.06-12.12.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
c01 = b01.drop(columns = ['기관 명', '모델명']) # column 밀림으로 생긴 두 열을 삭제함
c01

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200023,1,29.0,42.0,4.7,58.0,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,46.0,2.021120e+11,2021-12-06 0:07
1,OC3CL200011,1,17.0,25.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,46.0,NaN,NaN,NaN,NaN,NaN,NaN,15.9,23.0,31.0,2.021120e+11,2021-12-06 0:07
2,OC3CL200018,1,24.0,36.0,2.4,80.0,NaN,NaN,NaN,NaN,NaN,1.4,49.0,NaN,NaN,NaN,NaN,NaN,NaN,2.2,25.0,43.0,2.021120e+11,2021-12-06 0:07
3,OC3CL200013,1,15.0,23.0,2.8,57.0,NaN,NaN,NaN,NaN,NaN,1.4,46.0,NaN,NaN,NaN,NaN,NaN,NaN,1.1,21.0,30.0,2.021120e+11,2021-12-06 0:07
4,OC3CL200022,1,16.0,24.0,3.9,61.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,34.0,2.021120e+11,2021-12-06 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510258,V02Q1941013,3,0.0,0.0,-0.4,40.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021120e+11,2021-12-12 23:09
510259,V02Q1941015,3,0.0,1.0,-1.6,41.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021120e+11,2021-12-12 23:09
510260,V02Q1941006,3,0.0,1.0,-1.8,45.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021120e+11,2021-12-12 23:09
510261,V02Q1940954,3,4.0,4.0,-1.4,38.0,NaN,NaN,NaN,NaN,0.0,0.0,54.0,0.07,0.08,1.04,0.11,0.13,1.10,NaN,3.0,5.0,2.021120e+11,2021-12-12 23:09
510262,V02Q1940953,3,2.0,2.0,-1.3,40.0,NaN,NaN,NaN,NaN,5.0,0.0,44.0,0.08,0.02,0.97,0.11,0.05,1.03,NaN,3.0,4.0,2.021120e+11,2021-12-12 23:09

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_12/S-DoT_NATURE_2021.12.13-12.19.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
c02 = b02.drop(columns = ['기관 명', '모델명'])
c02

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200011,1,2.0,4.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,46.0,NaN,NaN,NaN,NaN,NaN,NaN,15.1,1.0,7.0,2.021120e+11,2021-12-13 0:07
1,OC3CL200013,1,2.0,4.0,-3.8,50.0,NaN,NaN,NaN,NaN,NaN,1.4,47.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.9,3.0,7.0,2.021120e+11,2021-12-13 0:07
2,OC3CL200012,1,3.0,6.0,-2.4,42.0,NaN,NaN,NaN,NaN,NaN,1.4,59.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.5,4.0,8.0,2.021120e+11,2021-12-13 0:07
3,OC3CL200018,1,3.0,5.0,-1.9,42.0,NaN,NaN,NaN,NaN,NaN,1.4,48.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.3,4.0,7.0,2.021120e+11,2021-12-13 0:07
4,OC3CL200022,1,2.0,3.0,-2.9,43.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,2.021120e+11,2021-12-13 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509620,V02Q1940945,3,18.0,18.0,3.6,66.0,NaN,NaN,NaN,NaN,1.0,0.0,48.0,0.03,0.03,1.02,0.09,0.09,1.09,NaN,13.0,20.0,2.021120e+11,2021-12-19 23:09
509621,V02Q1940950,3,9.0,9.0,2.4,63.0,NaN,NaN,NaN,NaN,8.0,0.0,36.0,0.01,0.10,0.95,0.05,0.15,1.00,NaN,11.0,13.0,2.021120e+11,2021-12-19 23:09
509622,V02Q1940946,3,10.0,11.0,4.0,62.0,NaN,NaN,NaN,NaN,5.0,0.0,43.0,0.07,0.10,0.99,0.11,0.15,1.04,NaN,10.0,16.0,2.021120e+11,2021-12-19 23:09
509623,V02Q1940949,3,5.0,5.0,2.0,66.0,NaN,NaN,NaN,NaN,113.0,0.0,43.0,0.00,0.04,1.05,0.03,0.10,1.11,NaN,7.0,10.0,2.021120e+11,2021-12-19 23:09
509624,V02Q1941013,3,0.0,0.0,4.5,62.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021120e+11,2021-12-19 23:09

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_12/S-DoT_NATURE_2021.12.20-12.26.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
c03 = b03.drop(columns = ['기관 명', '모델명'])
c03

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200014,1,9.0,14.0,2.2,82.0,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,2.2,11.0,21.0,2.021120e+11,2021-12-20 0:07
1,OC3CL200020,1,3.0,5.0,1.9,82.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,9.0,2.021120e+11,2021-12-20 0:07
2,OC3CL200018,1,9.0,14.0,1.8,84.0,NaN,NaN,NaN,NaN,NaN,1.4,49.0,NaN,NaN,NaN,NaN,NaN,NaN,1.7,12.0,23.0,2.021120e+11,2021-12-20 0:07
3,OC3CL200013,1,6.0,9.0,0.2,100.0,NaN,NaN,NaN,NaN,NaN,1.4,47.0,NaN,NaN,NaN,NaN,NaN,NaN,0.6,8.0,15.0,2.021120e+11,2021-12-20 0:07
4,OC3CL200012,1,10.0,15.0,1.9,79.0,NaN,NaN,NaN,NaN,NaN,1.4,57.0,NaN,NaN,NaN,NaN,NaN,NaN,1.6,13.0,22.0,2.021120e+11,2021-12-20 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509085,V02Q1941006,3,1.0,1.0,-9.8,45.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.021120e+11,2021-12-26 23:09
509086,V02Q1940952,3,13.0,13.0,-8.9,40.0,NaN,NaN,NaN,NaN,10.0,0.0,44.0,0.01,0.09,1.04,0.06,0.15,1.10,NaN,8.0,11.0,2.021120e+11,2021-12-26 23:09
509087,V02Q1941013,3,0.0,0.0,-8.5,40.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021120e+11,2021-12-26 23:09
509088,V02Q1940955,3,4.0,4.0,-9.7,44.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.04,0.04,1.01,0.08,0.09,1.08,NaN,2.0,4.0,2.021120e+11,2021-12-26 23:09
509089,V02Q1941015,3,11.0,11.0,-9.4,44.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,12.0,2.021120e+11,2021-12-26 23:09

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_12/S-DoT_NATURE_2021.12.27-01.02.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
rename_dot = b04.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
index_drop_dot = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
index_drop_dot

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200025,1,7,10,-11.3,47,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,14,202112262300,2021-12-27 00:07:01
1,OC3CL200014,1,5,8,-10.2,44,NaN,NaN,NaN,NaN,NaN,1.3,58.0,NaN,NaN,NaN,NaN,NaN,NaN,-11.1,7,12,202112262300,2021-12-27 00:07:01
2,OC3CL200023,1,7,10,-10.1,42,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,12,202112262300,2021-12-27 00:07:01
3,OC3CL200017,1,11,16,-10.2,42,NaN,NaN,NaN,NaN,NaN,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,-11.5,16,23,202112262300,2021-12-27 00:07:01
4,OC3CL200021,1,8,13,-10.6,44,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,15,202112262300,2021-12-27 00:07:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168504,V02Q1940955,1,6,6,-1.6,42,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.03,0.05,1.02,0.08,0.13,1.11,NaN,6,6,202201022200,2022-01-02 23:07:57
168505,V02Q1941013,1,0,0,-0.3,33,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,202201022200,2022-01-02 23:07:57
168506,V02Q1940953,1,6,6,-0.8,40,NaN,NaN,NaN,NaN,2.0,0.0,45.0,0.08,0.02,0.98,0.13,0.13,1.08,NaN,10,9,202201022200,2022-01-02 23:07:57
168507,V02Q1940954,1,10,10,-0.8,40,NaN,NaN,NaN,NaN,19.0,16.0,56.0,0.08,0.09,1.04,0.13,0.14,1.11,NaN,10,19,202201022200,2022-01-02 23:07:57
168508,V02Q1941000,1,1,2,-1.1,34,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,202201022200,2022-01-02 23:07:57

In [ ]:
result_2112 = pd.concat([c01, c02, c03, index_drop_dot],ignore_index=True)
result_2112.to_csv("2112")

## 2021년 1월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_01/S-DoT_NATURE_2021.01.04-01.10.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
b01

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,V02Q1940043,1,7.0,12.0,000-1.4,32.0,NaN,NaN,NaN,NaN,0.0,0.0,50.0,0.01,0.05,1.04,0.08,0.11,1.11,NaN,11.0,21.0,2.021010e+11,2021-01-04 0:07
1,서울시,SDOT001,V02Q1940046,1,4.0,9.0,000-1.8,38.0,NaN,NaN,NaN,NaN,0.0,0.0,55.0,0.03,0.03,1.02,0.11,0.14,1.10,NaN,6.0,15.0,2.021010e+11,2021-01-04 0:07
2,서울시,SDOT001,V02Q1940044,1,5.0,7.0,000-1.5,33.0,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.02,0.04,1.04,0.08,0.11,1.12,NaN,10.0,10.0,2.021010e+11,2021-01-04 0:07
3,서울시,SDOT001,V02Q1940049,1,8.0,15.0,000-1.7,33.0,NaN,NaN,NaN,NaN,3.0,0.0,44.0,0.01,0.06,1.08,0.06,0.13,1.15,NaN,11.0,19.0,2.021010e+11,2021-01-04 0:07
4,서울시,SDOT001,V02Q1940050,1,8.0,13.0,000-2.6,36.0,NaN,NaN,NaN,NaN,84.0,0.0,43.0,0.02,0.05,1.07,0.07,0.11,1.13,NaN,12.0,22.0,2.021010e+11,2021-01-04 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138015,서울시,SDOT001,V02Q1940954,1,57.0,67.0,000-2.6,51.0,NaN,NaN,NaN,NaN,9.0,0.0,56.0,0.07,0.09,1.04,0.13,0.14,1.11,NaN,35.0,47.0,2.021010e+11,2021-01-10 23:07
138016,서울시,SDOT001,V02Q1940952,1,5.0,6.0,000-2.1,52.0,NaN,NaN,NaN,NaN,0.0,0.0,48.0,0.04,0.10,1.05,0.10,0.16,1.12,NaN,9.0,10.0,2.021010e+11,2021-01-10 23:07
138017,서울시,SDOT001,V02Q1940955,1,10.0,10.0,000-3.8,56.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.04,0.05,1.02,0.09,0.12,1.11,NaN,13.0,18.0,2.021010e+11,2021-01-10 23:07
138018,서울시,SDOT001,V02Q1940947,1,3.0,4.0,000-1.5,50.0,NaN,NaN,NaN,NaN,0.0,0.0,54.0,0.02,0.05,1.02,0.08,0.11,1.09,NaN,5.0,5.0,2.021010e+11,2021-01-10 23:07
138019,서울시,SDOT001,V02Q1940951,1,9.0,10.0,000-2.3,48.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.04,0.98,0.05,0.12,1.08,NaN,16.0,18.0,2.021010e+11,2021-01-10 23:07

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_01/S-DoT_NATURE_2021.01.11-01.17.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
b02

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,9.0,13.0,00-10.1,68.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,000-9.4,9.0,13.0,2.021010e+11,2021-01-11 0:07
1,서울시,SDOT001,OC3CL200011,1,12.0,18.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,13.8,12.0,18.0,2.021010e+11,2021-01-11 0:07
2,서울시,SDOT001,OC3CL200012,1,12.0,17.0,000-4.8,54.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,000-6.5,12.0,17.0,2.021010e+11,2021-01-11 0:07
3,서울시,SDOT001,OC3CL200014,1,12.0,19.0,000-5.2,46.0,NaN,NaN,NaN,NaN,NaN,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,000-7.2,12.0,19.0,2.021010e+11,2021-01-11 0:07
4,서울시,SDOT001,OC3CL200016,1,12.0,18.0,000-4.6,53.0,NaN,NaN,NaN,NaN,NaN,0.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,000-6.4,12.0,18.0,2.021010e+11,2021-01-11 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150480,서울시,SDOT001,V02Q1940950,1,12.0,12.0,000-0.9,73.0,NaN,NaN,NaN,NaN,7.0,NaN,37.0,0.02,0.07,0.96,0.06,0.14,1.01,NaN,13.0,18.0,2.021010e+11,2021-01-17 23:07
150481,서울시,SDOT001,V02Q1940948,1,16.0,20.0,1.8,71.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.04,1.05,0.07,0.13,1.12,NaN,19.0,30.0,2.021010e+11,2021-01-17 23:07
150482,서울시,SDOT001,V02Q1940889,1,7.0,10.0,0.3,65.0,NaN,NaN,NaN,NaN,0.0,0.0,45.0,0.02,0.03,1.03,0.08,0.16,1.10,NaN,10.0,17.0,2.021010e+11,2021-01-17 23:07
150483,서울시,SDOT001,V02Q1941013,1,0.0,0.0,000-1.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021010e+11,2021-01-17 23:07
150484,서울시,SDOT001,V02Q1941015,1,10.0,16.0,000-1.9,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,19.0,2.021010e+11,2021-01-17 23:07

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_01/S-DoT_NATURE_2021.01.18-01.24.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
b03

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200015,1,7.0,11.0,000-2.4,76.0,NaN,NaN,NaN,NaN,NaN,0.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,000-2.9,7.0,11.0,2.021010e+11,2021-01-18 0:07
1,서울시,SDOT001,OC3CL200017,1,4.0,7.0,000-2.9,81.0,NaN,NaN,NaN,NaN,NaN,0.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,000-3.1,4.0,7.0,2.021010e+11,2021-01-18 0:07
2,서울시,SDOT001,OC3CL200010,1,5.0,7.0,000-2.6,73.0,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,000-3.4,5.0,7.0,2.021010e+11,2021-01-18 0:07
3,서울시,SDOT001,OC3CL200011,1,6.0,9.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,15.3,6.0,9.0,2.021010e+11,2021-01-18 0:07
4,서울시,SDOT001,OC3CL200012,1,8.0,12.0,000-2.2,77.0,NaN,NaN,NaN,NaN,NaN,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,000-2.8,8.0,12.0,2.021010e+11,2021-01-18 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78797,서울시,SDOT001,V02Q1940943,1,8.0,10.0,12,48.0,NaN,NaN,NaN,NaN,20.0,0.0,40.0,0.02,0.07,1.04,0.08,0.14,1.10,NaN,10.0,13.0,2.021010e+11,2021-01-24 19:07
78798,서울시,SDOT001,V02Q1940954,1,11.0,14.0,12.7,46.0,NaN,NaN,NaN,NaN,9.0,0.0,57.0,0.06,0.09,1.02,0.11,0.14,1.11,NaN,9.0,16.0,2.021010e+11,2021-01-24 19:07
78799,서울시,SDOT001,V02Q1940942,1,14.0,14.0,11,52.0,NaN,NaN,NaN,NaN,4.0,0.0,49.0,0.07,0.06,1.04,0.10,0.12,1.12,NaN,14.0,17.0,2.021010e+11,2021-01-24 19:07
78800,서울시,SDOT001,V02Q1940944,1,6.0,8.0,13.6,42.0,NaN,NaN,NaN,NaN,2.0,0.0,49.0,0.01,0.10,1.03,0.06,0.17,1.10,NaN,8.0,11.0,2.021010e+11,2021-01-24 19:07
78801,서울시,SDOT001,V02Q1940935,1,7.0,7.0,12.7,45.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,2.021010e+11,2021-01-24 19:07

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/21_01/S-DoT_NATURE_2021.01.25-01.31.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
c4 = b04.rename(columns={'상대습도(%)':'상대습도( %)',	'진동_(x)(g)':'진동_x(g)', '진동_(y)(g)' :'진동_y(g)',	'진동_(z)(g)' :'진동_z(g)', 	'진동_x 최대(g))' : '진동_x 최대(g)', '흑구 온도(℃)' : '흑구 운도(℃)',	'등록 일자' : '등록일자'})
c4

,기관 명,모델명,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,서울시,SDOT001,OC3CL200010,1,4.0,7.0,2.2,77.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,1.8,4.0,7.0,2.020000e+13,2021-01-25 1:03
1,서울시,SDOT001,OC3CL200011,1,8.0,13.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,16.5,8.0,13.0,2.020000e+13,2021-01-25 1:03
2,서울시,SDOT001,OC3CL200012,1,12.0,18.0,6.6,61.0,NaN,NaN,NaN,NaN,NaN,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,5.1,12.0,18.0,2.020000e+13,2021-01-25 1:03
3,서울시,SDOT001,OC3CL200013,1,7.0,10.0,5.1,66.0,NaN,NaN,NaN,NaN,NaN,0.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,4.1,7.0,10.0,2.020000e+13,2021-01-25 1:03
4,서울시,SDOT001,OC3CL200014,1,10.0,15.0,6.2,63.0,NaN,NaN,NaN,NaN,NaN,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,5.1,10.0,15.0,2.020000e+13,2021-01-25 1:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178801,서울시,SDOT001,V02Q1940954,1,58.0,73.0,10.0,51.0,NaN,NaN,NaN,NaN,8.0,0.0,55.0,0.07,0.09,1.03,0.12,0.14,1.1,NaN,43.0,65.0,2.020000e+13,2021-02-01 0:03
178802,서울시,SDOT001,V02Q1940955,1,17.0,20.0,7.8,55.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.02,0.06,1.02,0.08,0.13,1.1,NaN,20.0,32.0,2.020000e+13,2021-02-01 0:03
178803,서울시,SDOT001,V02Q1941006,1,22.0,41.0,9.3,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,46.0,2.020000e+13,2021-02-01 0:03
178804,서울시,SDOT001,V02Q1941013,1,0.0,0.0,10.3,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.020000e+13,2021-02-01 0:03
178805,서울시,SDOT001,V02Q1941015,1,6.0,15.0,8.3,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,25.0,2.020000e+13,2021-02-01 0:03

In [ ]:
result_2109 = pd.concat([b01, b02, b03, c4],ignore_index=True)
result_2109.drop(columns = ['기관 명', '모델명'], inplace=True)
result_2109.to_csv("2101")

## 2021년 2월(완료)

In [ ]:
a01 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_02/S-DoT_NATURE_2022.02.07-02.13.csv')
b01 = pd.read_csv(a01, encoding='euc-kr')
rename_dot = b01.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
c1 = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
c1

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200014,1,4,6,-3.2,45,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.8,6,9,202202062300,2022-02-07 00:07:00
1,OC3CL200011,1,4,7,21.6,85,NaN,NaN,NaN,NaN,NaN,1.3,51.0,NaN,NaN,NaN,NaN,NaN,NaN,14.6,6,11,202202062300,2022-02-07 00:07:00
2,OC3CL200016,1,4,7,-3.0,46,NaN,NaN,NaN,NaN,NaN,1.4,36.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.7,6,12,202202062300,2022-02-07 00:07:00
3,OC3CL200021,1,7,10,-3.6,45,NaN,NaN,NaN,NaN,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,13,202202062300,2022-02-07 00:07:00
4,OC3CL200026,1,4,6,-4.2,48,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,10,202202062300,2022-02-07 00:07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170106,V02Q1940952,1,43,43,7.9,42,NaN,NaN,NaN,NaN,10.0,0.0,44.0,0.02,0.12,1.04,0.08,0.18,1.11,NaN,61,75,202202132200,2022-02-13 23:07:57
170107,V02Q1940953,1,15,15,5.9,46,NaN,NaN,NaN,NaN,1.0,0.0,45.0,0.08,0.02,0.98,0.13,0.10,1.07,NaN,27,20,202202132200,2022-02-13 23:07:57
170108,V02Q1940951,1,22,22,6.2,45,NaN,NaN,NaN,NaN,1.0,0.0,45.0,0.01,0.04,0.98,0.06,0.11,1.08,NaN,32,39,202202132200,2022-02-13 23:07:57
170109,V02Q1941006,1,4,5,5.2,46,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,9,202202132200,2022-02-13 23:07:57
170110,V02Q1941015,1,36,36,6.3,48,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,65,202202132200,2022-02-13 23:07:57

In [ ]:
a02 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_02/S-DoT_NATURE_2022.02.14-02.20.csv')
b02 = pd.read_csv(a02, encoding='euc-kr')
rename_dot = b02.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
c2 = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
c2

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200018,1,20.0,30.0,6.1,49.0,NaN,NaN,NaN,NaN,NaN,1.4,48.0,NaN,NaN,NaN,NaN,NaN,NaN,3.6,21.0,33.0,202202132300,2022-02-14 00:07:01
1,OC3CL200022,1,16.0,24.0,4.9,51.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,32.0,202202132300,2022-02-14 00:07:01
2,OC3CL200023,1,27.0,39.0,5.7,48.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,41.0,202202132300,2022-02-14 00:07:01
3,OC3CL200031,1,28.0,41.0,2.6,49.0,NaN,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,40.0,202202132300,2022-02-14 00:07:01
4,OC3CL200027,1,16.0,24.0,3.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,31.0,202202132300,2022-02-14 00:07:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171701,V02Q1940954,1,7.0,7.0,-2.0,39.0,NaN,NaN,NaN,NaN,14.0,0.0,57.0,0.07,0.09,1.05,0.13,0.14,1.11,NaN,12.0,11.0,202202202200,2022-02-20 23:07:57
171702,V02Q1941015,1,9.0,9.0,-2.6,37.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,17.0,202202202200,2022-02-20 23:07:57
171703,V02Q1941013,1,0.0,0.0,-1.4,38.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,202202202200,2022-02-20 23:07:57
171704,V02Q1941006,1,1.0,2.0,-2.7,42.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,202202202200,2022-02-20 23:07:57
171705,V02Q1941000,1,NaN,NaN,-2.4,42.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202202202200,2022-02-20 23:07:57

In [ ]:
a03 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_02/S-DoT_NATURE_2022.02.21-02.27.csv')
b03 = pd.read_csv(a03, encoding='euc-kr')
rename_dot = b03.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
c3 = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
c3

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200017,1,3.0,5.0,-3.6,43.0,NaN,NaN,NaN,NaN,NaN,1.3,63.0,NaN,NaN,NaN,NaN,NaN,NaN,-6.5,5.0,7.0,202202202300,2022-02-21 00:07:00
1,OC3CL200012,1,7.0,11.0,-3.1,39.0,NaN,NaN,NaN,NaN,NaN,1.4,58.0,NaN,NaN,NaN,NaN,NaN,NaN,-6.4,8.0,14.0,202202202300,2022-02-21 00:07:00
2,OC3CL200018,1,7.0,10.0,-2.8,38.0,NaN,NaN,NaN,NaN,NaN,1.4,47.0,NaN,NaN,NaN,NaN,NaN,NaN,-6.3,8.0,14.0,202202202300,2022-02-21 00:07:00
3,OC3CL200014,1,5.0,8.0,-3.4,39.0,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,-6.4,7.0,12.0,202202202300,2022-02-21 00:07:00
4,OC3CL200026,1,4.0,7.0,-4.1,41.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,12.0,202202202300,2022-02-21 00:07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170982,V02Q1941015,1,8.0,8.0,5.8,72.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,5.0,202202272200,2022-02-27 23:07:58
170983,V02Q1940955,1,5.0,6.0,5.6,70.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.03,0.06,1.02,0.07,0.13,1.10,NaN,4.0,9.0,202202272200,2022-02-27 23:07:58
170984,V02Q1940953,1,2.0,2.0,5.7,67.0,NaN,NaN,NaN,NaN,2.0,0.0,46.0,0.08,0.02,0.98,0.13,0.11,1.07,NaN,3.0,3.0,202202272200,2022-02-27 23:07:58
170985,V02Q1940952,1,7.0,8.0,6.2,68.0,NaN,NaN,NaN,NaN,14.0,0.0,44.0,0.02,0.12,1.03,0.07,0.18,1.10,NaN,4.0,6.0,202202272200,2022-02-27 23:07:58
170986,V02Q1940948,1,6.0,6.0,6.8,67.0,NaN,NaN,NaN,NaN,0.0,0.0,42.0,0.01,0.05,1.05,0.06,0.13,1.12,NaN,4.0,7.0,202202272200,2022-02-27 23:07:58

In [ ]:
a04 = ('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/origin_data/22_02/S-DoT_NATURE_2022.02.28-03.06.csv')
b04 = pd.read_csv(a04, encoding='euc-kr')
rename_dot = b04.rename(columns={'기관 명' : '시리얼', '모델명': '구분', '시리얼' : '초미세먼지(㎍/㎥)', '구분' : '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)' : '기온(℃)', '미세먼지(㎍/㎥)' : '상대습도( %)', '기온(℃)' : '풍향(°)',
       '상대습도( %)' : '풍속(m/s)', '풍향(°)' : '돌풍 풍향(°)', '풍속(m/s)' : '돌풍 풍속(m/s)', '돌풍 풍향(°)' : '조도(lux)', '돌풍 풍속(m/s)' : '자외선(UVI)', '조도(lux)' : '소음(dB)',
       '자외선(UVI)' : '진동_x(g)', '소음(dB)' : '진동_y(g)', '진동_x(g)' : '진동_z(g)', '진동_y(g)' : '진동_x 최대(g)', '진동_z(g)' : '진동_y 최대(g)', '진동_x 최대(g)' : '진동_z 최대(g)',
       '진동_y 최대(g)' : '흑구 운도(℃)', '진동_z 최대(g)' : '초미세먼지 보정(㎍/㎥)', '흑구 운도(℃)' : '미세먼지 보정(㎍/㎥)', '초미세먼지 보정(㎍/㎥)' : '전송시간', '미세먼지 보정(㎍/㎥)' : '등록일자',
       '전송시간' : 'none_col1', '등록일자' : 'none_col2'}) # columns이 밀려서 왼쪽으로 2칸씩 재이동

drop_dot = rename_dot.drop(columns = ['none_col1', 'none_col2']) # column 밀림으로 생긴 두 열을 삭제함
c4 = drop_dot.reset_index(drop=True) # level_0, level_1 컬럼 버림(필요없는 서울시, 기기명 컬럼)
c4

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200011,1,6,10,21.6,85,NaN,NaN,NaN,NaN,NaN,1.3,49.0,NaN,NaN,NaN,NaN,NaN,NaN,16.0,8,19,202202272300,2022-02-28 00:07:01
1,OC3CL200014,1,4,7,5.7,89,NaN,NaN,NaN,NaN,NaN,1.3,52.0,NaN,NaN,NaN,NaN,NaN,NaN,6.1,7,13,202202272300,2022-02-28 00:07:01
2,OC3CL200013,1,6,10,2.7,100,NaN,NaN,NaN,NaN,NaN,1.4,47.0,NaN,NaN,NaN,NaN,NaN,NaN,3.7,10,18,202202272300,2022-02-28 00:07:01
3,OC3CL200012,1,8,12,5.6,79,NaN,NaN,NaN,NaN,NaN,1.4,57.0,NaN,NaN,NaN,NaN,NaN,NaN,5.3,9,20,202202272300,2022-02-28 00:07:01
4,OC3CL200016,1,4,7,5.5,86,NaN,NaN,NaN,NaN,NaN,1.4,39.0,NaN,NaN,NaN,NaN,NaN,NaN,5.7,6,11,202202272300,2022-02-28 00:07:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28496,V02Q1940949,1,3,3,3.8,40,NaN,NaN,NaN,NaN,80.0,0.0,44.0,0.01,0.04,1.05,0.05,0.12,1.13,NaN,5,5,202203062200,2022-03-06 23:07:59
28497,V02Q1940951,1,5,5,3.6,43,NaN,NaN,NaN,NaN,1.0,0.0,46.0,0.01,0.03,0.98,0.06,0.12,1.07,NaN,7,8,202203062200,2022-03-06 23:08:00
28498,V02Q1940952,1,5,5,4.0,45,NaN,NaN,NaN,NaN,11.0,0.0,44.0,0.02,0.11,1.04,0.07,0.17,1.12,NaN,6,8,202203062200,2022-03-06 23:08:00
28499,V02Q1940954,1,4,4,4.0,44,NaN,NaN,NaN,NaN,14.0,0.0,56.0,0.08,0.09,1.04,0.12,0.14,1.10,NaN,6,6,202203062200,2022-03-06 23:08:00
28500,V02Q1941015,1,5,5,3.4,45,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,10,202203062200,2022-03-06 23:08:00

In [ ]:
result_2109 = pd.concat([c1,c2,c3,c4],ignore_index=True)


result_2109.to_csv("2202")

# month merge

In [ ]:
S_DoT1 = pd.concat([dot_2101, dot_2102, dot_2103],ignore_index=True)
S_DoT1.to_csv("S_DoT1")

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자,상대습도(%),진동_(x)(g),진동_(y)(g),진동_(z)(g),진동_x 최대(g)),흑구 온도(℃),등록 일자
0,V02Q1940043,1,7.0,12.0,000-1.4,32.0,NaN,NaN,NaN,NaN,0.0,0.0,50.0,0.01,0.05,1.04,0.08,0.11,1.11,NaN,11.0,21.0,2.021010e+11,2021-01-04 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,V02Q1940046,1,4.0,9.0,000-1.8,38.0,NaN,NaN,NaN,NaN,0.0,0.0,55.0,0.03,0.03,1.02,0.11,0.14,1.10,NaN,6.0,15.0,2.021010e+11,2021-01-04 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V02Q1940044,1,5.0,7.0,000-1.5,33.0,NaN,NaN,NaN,NaN,0.0,0.0,52.0,0.02,0.04,1.04,0.08,0.11,1.12,NaN,10.0,10.0,2.021010e+11,2021-01-04 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,V02Q1940049,1,8.0,15.0,000-1.7,33.0,NaN,NaN,NaN,NaN,3.0,0.0,44.0,0.01,0.06,1.08,0.06,0.13,1.15,NaN,11.0,19.0,2.021010e+11,2021-01-04 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,V02Q1940050,1,8.0,13.0,000-2.6,36.0,NaN,NaN,NaN,NaN,84.0,0.0,43.0,0.02,0.05,1.07,0.07,0.11,1.13,NaN,12.0,22.0,2.021010e+11,2021-01-04 0:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855412,V02Q1940864,1,4.0,4.0,12.8,48.0,NaN,NaN,NaN,NaN,111.0,0.0,50.0,0.04,0.09,1.01,0.10,0.15,1.09,9.7,7.0,7.0,2.021040e+11,2021-04-04 23:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855413,V02Q1940859,1,7.0,7.0,11.2,53.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.03,0.03,1.11,0.08,0.12,1.16,NaN,11.0,14.0,2.021040e+11,2021-04-04 23:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855414,V02Q1940876,1,4.0,4.0,11.9,55.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.02,1.04,0.05,0.10,1.10,NaN,6.0,6.0,2.021040e+11,2021-04-04 23:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855415,V02Q1940857,1,7.0,7.0,7.8,75.0,NaN,NaN,NaN,NaN,0.0,0.0,37.0,0.01,0.13,1.05,0.05,0.18,1.11,NaN,10.0,12.0,2.021040e+11,2021-04-04 23:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855416,V02Q1940867,1,4.0,4.0,13.1,50.0,NaN,NaN,NaN,NaN,NaN,0.0,41.0,0.04,0.02,1.05,0.09,0.11,1.12,10.1,7.0,5.0,2.021040e+11,2021-04-04 23:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
S_DoT1.to_csv("S_DoT1")

In [ ]:
S_DoT2 = pd.concat([dot_2104, dot_2105, dot_2106],ignore_index=True)
S_DoT2

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200135,1,2.0,3.0,9.9,51.0,345.0,0.7,230.0,1.4,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,202104000000.0,2021-04-05 0:07
1,OC3CL200147,1,3.0,6.0,9.9,54.0,43.0,0.2,46.4,0.6,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,202104000000.0,2021-04-05 0:07
2,OC3CL200142,1,3.0,5.0,9.5,49.0,34.0,0.7,98.8,2.1,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,202104000000.0,2021-04-05 0:07
3,OC3CL200132,1,2.0,4.0,5.8,81.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,202104000000.0,2021-04-05 0:07
4,OC3CL200145,1,2.0,5.0,9.5,54.0,97.0,0.3,113.0,0.7,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,202104000000.0,2021-04-05 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2281857,V02Q1940951,1,0,0,21.9,86.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.03,0.03,1.0,0.08,0.12,1.1,NaN,0,0,202107000000.0,2021-07-04 23:07
2281858,V02Q1940954,1,1,1,22.4,80.0,NaN,NaN,NaN,NaN,10.0,0.0,56.0,0.06,0.08,1.02,0.1,0.13,1.11,NaN,1,1,202107000000.0,2021-07-04 23:07
2281859,V02Q1941015,1,1,2,21.8,86.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,5,202107000000.0,2021-07-04 23:07
2281860,V02Q1941006,1,1,2,21.6,86.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,202107000000.0,2021-07-04 23:07
2281861,V02Q1941000,1,3,4,21.6,87.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,202107000000.0,2021-07-04 23:07

In [ ]:
S_DoT2.to_csv("S_DoT2")

In [ ]:
S_DoT3 = pd.concat([dot_2107, dot_2108, dot_2109],ignore_index=True)
S_DoT3

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200025,1,0.0,1.0,20.9,100.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.021070e+11,2021-07-05 0:07
1,OC3CL200023,1,0.0,1.0,21.5,94.0,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021070e+11,2021-07-05 0:07
2,OC3CL200016,1,1.0,3.0,21.8,96.0,NaN,NaN,NaN,NaN,NaN,0.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,2.0,4.0,2.021070e+11,2021-07-05 0:07
3,OC3CL200012,1,4.0,7.0,21.8,100.0,NaN,NaN,NaN,NaN,NaN,0.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,21.1,5.0,9.0,2.021070e+11,2021-07-05 0:07
4,OC3CL200030,1,4.0,6.0,20.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7.0,2.021070e+11,2021-07-05 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032050,V02Q1940955,1,7.0,7.0,24.2,78.0,NaN,NaN,NaN,NaN,0.0,0.0,46.0,0.01,0.07,1.03,0.05,0.14,1.1,NaN,7.0,12.0,2.021100e+11,2021-10-06 0:03
2032051,V02Q1941000,1,8.0,22.0,24.0,81.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,29.0,2.021100e+11,2021-10-06 0:03
2032052,V02Q1941006,1,1.0,2.0,23.3,84.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.021100e+11,2021-10-06 0:03
2032053,V02Q1941013,1,0.0,0.0,24.4,79.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.021100e+11,2021-10-06 0:03
2032054,V02Q1941015,1,0.0,1.0,23.1,82.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.021100e+11,2021-10-06 0:03

In [ ]:
S_DoT3.to_csv("S_DoT3")

In [ ]:
S_DoT4 = pd.concat([dot_2110, dot_2111, dot_2112],ignore_index=True)
S_DoT4

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200011,1,1.0,4.0,21.6,88.0,NaN,NaN,NaN,NaN,NaN,1.3,47.0,NaN,NaN,NaN,NaN,NaN,NaN,20.8,3.0,7.0,2.021100e+11,2021-10-05 18:07
1,OC3CL200021,1,7.0,13.0,25.4,74.0,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,22.0,2.021100e+11,2021-10-05 18:07
2,OC3CL200013,1,4.0,8.0,24.2,100.0,NaN,NaN,NaN,NaN,NaN,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,23.1,6.0,15.0,2.021100e+11,2021-10-05 18:07
3,OC3CL200031,1,3.0,7.0,24.2,100.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,2.021100e+11,2021-10-05 18:07
4,OC3CL200024,1,4.0,11.0,25.5,72.0,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,21.0,2.021100e+11,2021-10-05 18:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509201,V02Q1940955,1,6.0,6.0,-1.6,42.0,NaN,NaN,NaN,NaN,0.0,0.0,43.0,0.03,0.05,1.02,0.08,0.13,1.11,NaN,6.0,6.0,2.022010e+11,2022-01-02 23:07:57
3509202,V02Q1941013,1,0.0,0.0,-0.3,33.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.022010e+11,2022-01-02 23:07:57
3509203,V02Q1940953,1,6.0,6.0,-0.8,40.0,NaN,NaN,NaN,NaN,2.0,0.0,45.0,0.08,0.02,0.98,0.13,0.13,1.08,NaN,10.0,9.0,2.022010e+11,2022-01-02 23:07:57
3509204,V02Q1940954,1,10.0,10.0,-0.8,40.0,NaN,NaN,NaN,NaN,19.0,16.0,56.0,0.08,0.09,1.04,0.13,0.14,1.11,NaN,10.0,19.0,2.022010e+11,2022-01-02 23:07:57
3509205,V02Q1941000,1,1.0,2.0,-1.1,34.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,2.022010e+11,2022-01-02 23:07:57

In [ ]:
S_DoT4.to_csv("S_DoT4")

In [ ]:
S_DoT5 = pd.concat([dot_2201, dot_2202, dot_2203],ignore_index=True)
S_DoT5

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),조도(lux),자외선(UVI),소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,OC3CL200017,1,4.0,7.0,-3.0,52.0,NaN,NaN,NaN,NaN,NaN,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.5,6.0,14.0,202201022300,2022-01-03 00:07:01
1,OC3CL200014,1,7.0,11.0,-2.4,42.0,NaN,NaN,NaN,NaN,NaN,1.3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,-5.4,10.0,16.0,202201022300,2022-01-03 00:07:01
2,OC3CL200011,1,6.0,9.0,21.6,85.0,NaN,NaN,NaN,NaN,NaN,1.3,51.0,NaN,NaN,NaN,NaN,NaN,NaN,14.2,9.0,13.0,202201022300,2022-01-03 00:07:01
3,OC3CL200029,1,13.0,19.0,-1.2,44.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,22.0,202201022300,2022-01-03 00:07:01
4,OC3CL200027,1,7.0,11.0,-4.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,17.0,202201022300,2022-01-03 00:07:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544967,V02Q1941006,1,1.0,2.0,13.1,87.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,202203132200,2022-03-13 23:07:58
1544968,V02Q1940950,1,6.0,6.0,14.0,80.0,NaN,NaN,NaN,NaN,7.0,0.0,37.0,0.02,0.11,0.96,0.06,0.16,1.03,NaN,6.0,9.0,202203132200,2022-03-13 23:07:58
1544969,V02Q1941013,1,12.0,12.0,13.9,85.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,15.0,202203132200,2022-03-13 23:07:58
1544970,V02Q1940944,1,8.0,8.0,14.0,81.0,NaN,NaN,NaN,NaN,0.0,0.0,44.0,0.01,0.13,1.02,0.05,0.18,1.10,NaN,8.0,11.0,202203132200,2022-03-13 23:07:58
1544971,V02Q1940954,1,22.0,23.0,14.7,78.0,NaN,NaN,NaN,NaN,15.0,0.0,56.0,0.06,0.08,1.03,0.11,0.14,1.10,NaN,21.0,25.0,202203132200,2022-03-13 23:07:58

In [ ]:
S_DoT5.to_csv("S_DoT5")