In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive

drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
c1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/S_DoT/concat2/S_DoT123')
c2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/S_DoT/concat1/S_DoT45')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
a23 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/S_DoT/concat1/S_DoT23')
a1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/학부연구생/미세먼지_취약계층/data/S_DoT/slice/S_DoT1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
drop1 = a1.drop(columns = ['Unnamed: 0'])
drop23 = a23.drop(columns = ['Unnamed: 0'])

In [ ]:
drop1

,시리얼,구분,초미세먼지(㎍/㎥),미세먼지(㎍/㎥),기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),초미세먼지 보정(㎍/㎥),미세먼지 보정(㎍/㎥),전송시간,등록일자
0,V02Q1940043,1,7.0,12.0,000-1.4,32.0,NaN,NaN,NaN,NaN,...,0.05,1.04,0.08,0.11,1.11,NaN,11.0,21.0,2.021010e+11,2021-01-04 0:07
1,V02Q1940046,1,4.0,9.0,000-1.8,38.0,NaN,NaN,NaN,NaN,...,0.03,1.02,0.11,0.14,1.10,NaN,6.0,15.0,2.021010e+11,2021-01-04 0:07
2,V02Q1940044,1,5.0,7.0,000-1.5,33.0,NaN,NaN,NaN,NaN,...,0.04,1.04,0.08,0.11,1.12,NaN,10.0,10.0,2.021010e+11,2021-01-04 0:07
3,V02Q1940049,1,8.0,15.0,000-1.7,33.0,NaN,NaN,NaN,NaN,...,0.06,1.08,0.06,0.13,1.15,NaN,11.0,19.0,2.021010e+11,2021-01-04 0:07
4,V02Q1940050,1,8.0,13.0,000-2.6,36.0,NaN,NaN,NaN,NaN,...,0.05,1.07,0.07,0.11,1.13,NaN,12.0,22.0,2.021010e+11,2021-01-04 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855412,V02Q1940864,1,4.0,4.0,12.8,48.0,NaN,NaN,NaN,NaN,...,0.09,1.01,0.10,0.15,1.09,9.7,7.0,7.0,2.021040e+11,2021-04-04 23:08
1855413,V02Q1940859,1,7.0,7.0,11.2,53.0,NaN,NaN,NaN,NaN,...,0.03,1.11,0.08,0.12,1.16,NaN,11.0,14.0,2.021040e+11,2021-04-04 23:08
1855414,V02Q1940876,1,4.0,4.0,11.9,55.0,NaN,NaN,NaN,NaN,...,0.02,1.04,0.05,0.10,1.10,NaN,6.0,6.0,2.021040e+11,2021-04-04 23:08
1855415,V02Q1940857,1,7.0,7.0,7.8,75.0,NaN,NaN,NaN,NaN,...,0.13,1.05,0.05,0.18,1.11,NaN,10.0,12.0,2.021040e+11,2021-04-04 23:08
1855416,V02Q1940867,1,4.0,4.0,13.1,50.0,NaN,NaN,NaN,NaN,...,0.02,1.05,0.09,0.11,1.12,10.1,7.0,5.0,2.021040e+11,2021-04-04 23:08

In [ ]:
S_DoT123 = pd.concat([drop1, drop23],ignore_index=True)

In [ ]:
S_DoT123.to_csv('S_DoT123.csv', index=False)

In [ ]:
S_DoT = pd.merge(c1,c2, how='outer',on='시리얼')